<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Password{% endtrans %}
    </div>
    <div class="panel-body">
        {{ form_row(form.password) }}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Personal Information{% endtrans %}
    </div>
    <div class="panel-body">
        {{ form_row(form.profile.first_name) }}
        {{ form_row(form.profile.last_name) }}
        {{ form_row(form.profile.gender) }}
        {{ form_row(form.profile.day_of_birth) }}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Address Information{% endtrans %}
    </div>
    <div class="panel-body">
        {{ form_row(form.profile.profile_address.street) }}
        {{ form_row(form.profile.profile_address.postal_code) }}
        {{ form_row(form.profile.profile_address.city) }}
        {{ form_row(form.profile.profile_address.state) }}
        {{ form_row(form.profile.profile_address.country) }}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Email Information{% endtrans %}
    </div>
    <div class="panel-body">
        {% for email in form.profile.profile_emails %}
        {{ form_row(email.email_address) }}
        {% endfor %}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Phone Information{% endtrans %}
    </div>
    <div class="panel-body">
        {{ form_row(form.profile.profile_phone.phone_number) }}
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans %}Save{% endtrans %}
    </div>
    <div class="panel-body">
        <p>{% trans %}Click here when you are finish editing your data.{% endtrans %}</p>
    </div>

    {{ form_rest(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
</div>
