  <fieldset>
    <legend>{% trans %}Password{% endtrans %}</legend>

    <p>{{ form_row(form.password) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Personal Information{% endtrans %}</legend>

    <p>{{ form_row(form.profile.first_name) }}</p>
    <p>{{ form_row(form.profile.last_name) }}</p>
    <p>{{ form_row(form.profile.gender) }}</p>
    <p>{{ form_row(form.profile.day_of_birth) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Address Information{% endtrans %}</legend>

    <p>{{ form_row(form.profile.profile_address.street) }}</p>
    <p>{{ form_row(form.profile.profile_address.postal_code) }}</p>
    <p>{{ form_row(form.profile.profile_address.city) }}</p>
    <p>{{ form_row(form.profile.profile_address.country) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Email Information{% endtrans %}</legend>

    <p>{{ form_row(form.profile.profile_email.email_address) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Phone Information{% endtrans %}</legend>

    <p>{{ form_row(form.profile.profile_phone.phone_number) }}</p>
  </fieldset>

  {{ form_row(form._token) }}

  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

