{% extends "::base.html.twig" %}

{% block body %}
<h1>User</h1>
<p class="box"><a href="{{ path('user_new') }}" class="btn-create"><span>Create user</span></a></p>

{{ app.session.flash('notice') }}

<form method="post" action="{{ path('user_batch') }}">
<table class="tablesorter">
  <thead>
    <tr>
      <th>[x]</th>
      <th>Id</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7" class="arrow-01">
        <select name="" class="input-text">
          <option value="">Delete selected</option>
          <option value="">Remove selected</option>
          <option value="">Rename selected</option>
          <option value="">Copy selected</option>
        </select>&nbsp;<input type="submit" value="OK" />
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ user.id }}</td>
      <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>
      <td>{{ user.createdAt|date("Y-m-d") }}</td>
      <td>
        <a href="{{ path('user_edit', { 'id':user.id }) }}"><img src="{{ asset('images/ico-edit.gif') }}" class="ico" alt="Edit" /></a>
        <a href="{{ path('user_delete', { 'id':user.id }) }}"><img src="{{ asset('images/ico-delete.gif') }}" class="ico" alt="Delete" /></a>
        <a href="{{ path('user_subscription', { 'id':user.id }) }}">Subscription</a>
        <a href="{{ path('user_shop', { 'id':user.id }) }}">Shop as</a>
        <a href="{{ path('user_ban', { 'id':user.id }) }}">Ban</a>
        <a href="{{ path('user_address', { 'id':user.id }) }}">Address</a>
        <a href="{{ path('user_phone', { 'id':user.id }) }}">Phone</a>
        <a href="{{ path('user_email', { 'id':user.id }) }}">Email</a>
        <a href="{{ path('user_group', { 'id':user.id }) }}">Group</a>
        <a href="{{ path('admin_user_note', { 'id':user.id }) }}">Note</a>
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">There are no users at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
