{% extends "::base.html.twig" %}

{% block body %}

{{ app.session.flash('notice') }}

<form method="post" action="{{ path('user_batch') }}">
<table>
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Id</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="5">x Results</th>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ user.id }}</td>
      <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>
      <td>{{ user.createdAt|date("Y-m-d") }}</td>
      <td><ul>
        <li><a href="{{ path('user_edit', { 'id':user.id }) }}">Edit</a></li>
        <li><a href="{{ path('user_delete', { 'id':user.id }) }}">Delete</a></li>
        <li><a href="{{ path('user_subscription', { 'id':user.id }) }}">Subscription</a></li>
        <li><a href="{{ path('user_ticket', { 'id':user.id }) }}">Ticket</a></li>
        <li><a href="{{ path('user_shop', { 'id':user.id }) }}">Shop as</a></li>
        <li><a href="{{ path('user_ban', { 'id':user.id }) }}">Ban</a></li>
      </ul></td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">There are no users at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<ul>
  <li><select name="batch_action">
    <option value="batchDelete">Delete</option>
  </select>
  <input type="submit" /></li>
  <li><a href="{{ path('user_new') }}">New</a></li>
</ul>
</form>
{% endblock %}
