{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('club_booking_admininterval_new', {'field_id':field.id}) }}" class="btn-create"><span>{% trans %}Create interval{% endtrans %}</span></a>
  <a href="{{ path('club_booking_admininterval_manage', {'field_id':field.id}) }}" class="btn-create"><span>{% trans %}Manage intervals{% endtrans %}</span></a>
</p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Location{% endtrans %}</th>
      <th>{% trans %}Field{% endtrans %}</th>
      <th>{% trans %}Day{% endtrans %}</th>
      <th>{% trans %}Start time{% endtrans %}</th>
      <th>{% trans %}Stop time{% endtrans %}</th>
      <th>{% trans %}Valid from{% endtrans %}</th>
      <th>{% trans %}Valid to{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="8">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for interval in intervals %}
    <tr>
      <td>{{ interval.field.location }}</td>
      <td>{{ interval.field }}</td>
      <td>{{ interval.day(true).format('l') }}</td>
      <td>{{ interval.startTime|club_time }}</td>
      <td>{{ interval.stopTime|club_time }}</td>
      <td>{{ interval.validFrom|club_datetime }}</td>
      <td>{{ interval.validTo|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_booking_admininterval_edit', { 'id':interval.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_booking_admininterval_delete', { 'id':interval.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="8">{% trans %}There are no intervals.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
