{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_booking_admininterval_manage', {'field_id':field.id}) }}" class="form-horizontal">

<fieldset>
  <legend>Generel Information</legend>
  {{ form_row(form.start_date) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Monday{% endtrans %}</legend>
  {{ form_widget(form.1) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Tuesday{% endtrans %}</legend>
  {{ form_widget(form.2) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Wednesday{% endtrans %}</legend>
  {{ form_widget(form.3) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Tursday{% endtrans %}</legend>
  {{ form_widget(form.4) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Friday{% endtrans %}</legend>
  {{ form_widget(form.5) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Saturday{% endtrans %}</legend>
  {{ form_widget(form.6) }}
</fieldset>

<fieldset>
  <legend>{% trans %}Sunday{% endtrans %}</legend>
  {{ form_widget(form.7) }}
</fieldset>

{{ form_rest(form) }}

{% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>

{% endblock %}
