{% extends "::base.html.twig" %}

{% block body %}

<h1>Location</h1>
<p class="box"><a href="{{ path('location_new') }}" class="btn-create"><span>Create location</span></a></p>

{% include "::flash.html.twig" %}

<form method="post" action="{{ path('location_batch') }}">
<table>
  <thead>
    <tr>
      <th>[x]</th>
      <th>Id</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4" class="arrow-01">
        <select name="" class="input-text">
          <option value="">Delete selected</option>
          <option value="">Remove selected</option>
          <option value="">Rename selected</option>
          <option value="">Copy selected</option>
        </select>&nbsp;<input type="submit" value="OK" />
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for location in locations %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ location.id }}</td>
      <td>{{ location.locationName }}</td>
      <td>
        <a href="{{ path('location_edit', { 'id':location.id }) }}"><img src="{{ asset('images/ico-edit.gif') }}" class="ico" alt="Edit" /></a>
        <a href="{{ path('location_delete', { 'id':location.id }) }}"><img src="{{ asset('images/ico-delete.gif') }}" class="ico" alt="Delete" /></a>
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">There are no locations at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
{% endblock %}
