<table>
  <thead>
  <tr>
    <th width="250">Produkt</th>
    <th width="80">Pris</th>
    <th width="80">Antal</th>
    <th width="70">Total</th>
  </tr>
  </thead>
  <tbody>
  {% for item in cart.cartProducts %}
  <tr>
    <td>{{ item.productName }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.quantity*item.price }}</td>
  </tr>
  {% else %}
  <tr>
    <td colspan="4">Your cart is empty.</td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">&#160;</td>
  </tr>
  <tr>
    <td style="text-align: right; padding-right: 20px;" colspan="3">Sub total</td>
    <td>{{ cart.price }}</td>
  </tr>
  <tr>
    <td style="text-align: right; padding-right: 20px;" colspan="3">VAT</td>
    <td>0%</td>
  </tr>
  <tr>
    <td style="text-align: right; padding-right: 20px;" colspan="3"><b>Total</b></td>
    <td>{{ cart.price }}</td>
  </tr>
  </tfoot>
</table>

