{% extends "ClubShopBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/basket.png') }}" /> {% trans %}Checkout{% endtrans %}</h1>
</div>
{% endblock %}

{% block body %}

{% if cart.user %}
<p class="lead">{% trans with {'%name%':cart.user.name} %}Here is your cart %name%.{% endtrans %}</p>
{% endif %}

<div id="sf_admin_container">
{% include "ClubShopBundle:Checkout:cart_form.html.twig" %}
</div>

<p>
  <a href="{{ path('shop_checkout_empty') }}" class="btn btn-danger">{% trans %}Empty cart{% endtrans %}</a>
  <a href="{{ path('shop') }}" class="btn btn-warning">{% trans %}Continue shopping{% endtrans %}</a>
  <a href="{{ path('club_shop_coupon_add') }}" class="btn btn-info">{% trans %}Use coupon{% endtrans %}</a>
  <a href="{{ path('shop_checkout_review') }}" class="btn btn-primary">{% trans %}Checkout{% endtrans %}</a>
</p>

{% endblock %}
