{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubWelcomeBundle:Welcome:header.html.twig" %}
{% endblock %}

{% block header %}
<h1 class="page-header"><img src="{{ asset('bundles/clublayout/images/icons/32x32/transmit.png') }}" /> {% trans %}Blog{% endtrans %}</h1>
{% endblock %}

{% block body %}
<div style="float: right;"><a target="_open" href="{{ path('club_welcome_rss_latest') }}"><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/rss.png') }}" /></a></div>

{{ club_paginator() }}

{% for post in paginator %}
{% include "ClubWelcomeBundle:Welcome:blog.html.twig" %}
{% endfor %}

{{ club_paginator() }}

{% endblock %}
