{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block title %}
This Blog: {{ blog.title }}
{% endblock %}

{% block header %}
<div class="page-header"><h1><img src="{{ asset('bundles/clublayout/images/icons/32x32/transmit.png') }}" /> {% trans with {'%title%':blog.title} %}Blog, %title%{% endtrans %}</h1></div>
{% endblock %}

{% block pagenav %}
{% include "ClubWelcomeBundle:Blog:header.html.twig" %}
{% endblock %}

{% block body %}
<h3>{{ blog.title }}</h3>
<p>{{ blog.message|raw }}</p>

<hr>

<h6>{% trans with {'%date%':blog.createdAt|club_datetime,'%author%':blog.user.name} %}Posted on %date% by %author%.{% endtrans %}</h6>

{{ socialButtons() }}

<h4>{% trans %}Comments{% endtrans %}</h4>
{% for comment in blog.comments %}
<h6>{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</h6>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no new comments for this blog.{% endtrans %}</p>
{% endfor %}

{% endblock %}
