<html>
<head>
<meta charset="utf-8">
<link href="//code.jquery.com/ui/1.11.0/themes/{{ theme }}/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/clubkiosk/plugins/Keyboard-master/css/keyboard.css') }}" rel="stylesheet" type="text/css" />
{% stylesheets
'@ClubKioskBundle/Resources/public/style.css'
'@ClubKioskBundle/Resources/public/loadmask.css'
'@ClubKioskBundle/Resources/public/li-scroller.css'
%}
<link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}
<style>
body {
  background-image: url({{ asset('bundles/clubkiosk/images/bg4.png') }});
  background-repeat: repeat;
}
#loadmask {
  background-image: url({{ asset('bundles/clubkiosk/images/loading.gif') }});
  background-repeat: no-repeat;
  background-position: center;
}
</style>
</head>
<body>

<div class="tickeroverlay">
    <ul id="ticker01">
        <li></li>
        <li></li>
    </ul>
</div>

<app class="box vert pack-center">

<!-- Pages div -->
<div id="pages" class="box flex hori pack-center mar5">

    <div id="page_booking" class="box vert pack-center full-width">
        <div width="100%">
            <div style="float: left; display: block;">
                <p><button style="padding:5px; margin-left:5px;"><span id="clock_widget"></span></button></p>
            </div>

            <div style="float: right; display: block;">
                <p>
                <input style="text-align:center;" id="booking_date_picker" readonly="readonly" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"/>
                <br><small style="color: #000000">{% trans %}Vælg dato på knappen.{% endtrans %}</small>
                </p>
            </div>
        </div>
        <div id="overflow" class="relative box flex vert"></div>
    </div>
</div>

<!-- Button bar -->
<div class="box hori pack-center mar5">
    <p id="auth_dialog"><span id="welcome-box">{% trans %}Velkommen{% endtrans %} <span id="auth_user"></span></span></p>
    <button id='button_login'>{% trans %}Log ind{% endtrans %}</button>
    <button id='button_logout'>{% trans %}Log ud{% endtrans %}</button>
</div>

</app>

<img id='refresh_image' src="{{ asset('bundles/clubkiosk/images/refresh.png') }}" />

<div id="login_dialog" title="Login Dialog">
    <label class="box">{% trans %}Brugernavn{% endtrans %}</label>
    <input type="text" class="box key" id='input_username' />
    <label class="box" style="padding-top: 20px;">{% trans %}Password{% endtrans %}</label>
    <input type="password" class="box key" id='input_password' type='password' />
    <label id="login_dialog_error" class="box"></label>
</div>

<div id="interval_dialog" title="Interval Dialog">
    <p class="interval_location"><label>{% trans %}Område:{% endtrans %}</label> <span></span></p>
    <p class="interval_field"><label>{% trans %}Bane:{% endtrans %}</label> <span></span></p>
    <p class="interval_date"><label>{% trans %}Dato:{% endtrans %}</label> <span></span></p>
    <p class="interval_time"><label>{% trans %}Tid:{% endtrans %}</label> <span></span></p>
    <p class="interval_booker"><label>{% trans %}Spiller:{% endtrans %}</label> <span></span></p>
    <p class="interval_partner"><label>{% trans %}Partner:{% endtrans %}</label> <span></span></p>
    <p class="interval_confirmed"><label>{% trans %}Bekræftet:{% endtrans %}</label> <span></span></p>
</div>

<div id="booking_dialog" title="Interval Dialog">
    <p class="interval_location"><label>{% trans %}Område:{% endtrans %}</label> <span></span></p>
    <p class="interval_field"><label>{% trans %}Bane:{% endtrans %}</label> <span></span></p>
    <p class="interval_date"><label>{% trans %}Dato:{% endtrans %}</label> <span></span></p>
    <p class="interval_time"><label>{% trans %}Tid:{% endtrans %}</label> <span></span></p>
    <p class="interval_booker"><label>{% trans %}Spiller:{% endtrans %}</label> <span></span></p>
    <p class="interval_partner"><label>{% trans %}Partner:{% endtrans %}</label> <span></span></p>
    <p class="interval_confirmed"><label>{% trans %}Bekræftet:{% endtrans %}</label> <span></span></p>
</div>

<div id="user_search_dialog" title="Partner Søgning">
    <label class="box">{% trans %}Søgefelt{% endtrans %}</label>
    <input type="text" class="box key" id='input_search' />

    <select id='search_results' size='6'></select>
</div>

<div id="error_dialog" title="Fejlbesked">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><div id="error_message">{% trans %}Fejl med internettet prøv igen...{% endtrans %}</div>
</div>

<div id="loadmask"></div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script>
var defaultLocation = {{ defaultLocation }};
var apiUrl = "{{ url('homepage') }}api/";
$(document).ready(function() {
    {% if app.environment != 'dev' %}
    $(document).bind("contextmenu",function(e){
        return false;
    });
    {% endif %}

    cmcl.start();
});
</script>
{% javascripts
'@ClubKioskBundle/Resources/public/plugins/jquery.base64.js'
'@ClubKioskBundle/Resources/public/plugins/jquery.loadmask.js'
'@ClubKioskBundle/Resources/public/plugins/Keyboard-master/js/jquery.keyboard.min.js'
'@ClubKioskBundle/Resources/public/plugins/date.js'
'@ClubKioskBundle/Resources/public/plugins/danish.js'
'@ClubKioskBundle/Resources/public/plugins/jquery.ui.datepicker-da.js'
'@ClubKioskBundle/Resources/public/plugins/jquery.idle-timer.js'
'@ClubKioskBundle/Resources/public/plugins/jquery.li-scroller.1.0.js'
'@ClubKioskBundle/Resources/public/src/init.js'
'@ClubKioskBundle/Resources/public/src/ajax.js'
'@ClubKioskBundle/Resources/public/src/page.js'
'@ClubKioskBundle/Resources/public/src/booking.js'
'@ClubKioskBundle/Resources/public/src/user.js'
'@ClubKioskBundle/Resources/public/src/ticker.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
