{% block form_row %}
{% spaceless %}
    <div class="control-group {% if errors|length > 0%}error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {% if help is defined %}
                {% for h in help %}
                    <span class="help-block">{{ h|raw|trans }}</span>
                {% endfor %}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block tinymce_widget %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset('bundles/clublayout/tinymce/jscripts/tiny_mce/tiny_mce.js') }}"></script>
    <script type="text/javascript">
    tinyMCE.init({
        mode : "exact",
        elements: "{{ id }}",
        theme : "simple",
        width: "80%",
        height: "300px"
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_datetime_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}_date" ).datepicker({
              "dateFormat":"yy-mm-dd"
            });
        }
    });

    $(function() {
        var availableTags = [
            "00:00",
            "00:30",
            "01:00",
            "01:30",
            "02:00",
            "02:30",
            "03:00",
            "03:30",
            "04:00",
            "04:30",
            "05:00",
            "05:30",
            "06:00",
            "06:30",
            "07:00",
            "07:30",
            "08:00",
            "08:30",
            "09:00",
            "09:30",
            "10:00",
            "10:30",
            "11:00",
            "11:30",
            "12:00",
            "12:30",
            "13:00",
            "13:30",
            "14:00",
            "14:30",
            "15:00",
            "15:30",
            "16:00",
            "16:30",
            "17:00",
            "17:30",
            "18:00",
            "18:30",
            "19:00",
            "19:30",
            "20:00",
            "20:30",
            "21:00",
            "21:30",
            "22:00",
            "22:30",
            "23:00",
            "23:30"
        ];
        $( "#{{ id }}_time" ).autocomplete({
            source: availableTags,
            minLength: 0
        }).
        focus(function() {
            $("#{{ id }}_time").autocomplete( "search" , "");
        });
    });

    </script>

    <style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }
    </style>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_date_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}" ).datepicker({
                'dateFormat': 'yy-mm-dd'
            });
        }
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_birthday_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}" ).datepicker({
                'dateFormat': 'yy-mm-dd'
            });
        }
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_autocomplete_widget %}
{% spaceless %}
    {% set field_id = '#' ~ id %}

    {% if v is defined %}
        {% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'f':field_id, 'v':v} %}
    {% else %}
        {% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'f':field_id} %}
    {% endif %}

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}
