{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('club_message_adminmessage_attachment', {'id':message.id}) }}" {{ form_enctype(form) }}>
  <fieldset>
    <legend>{% trans %}Upload Attachment{% endtrans %}</legend>
    {{ form_widget(form) }}
  </fieldset>
  {% include "ClubLayoutBundle:Default:submit_button.html.twig" with {'button':'Attach file'|trans}  %}
</form>

<fieldset>
  <legend>{% trans %}Attachments{% endtrans %}</legend>
  <p>{% trans %}Here is a list of files which is attached to the message.{% endtrans %}</p>
  <table class="style">
    <thead>
      <tr>
        <th>{% trans %}File name{% endtrans %}</th>
        <th>{% trans %}File type{% endtrans %}</th>
        <th>{% trans %}File size{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for attachment in attachments %}
      <tr>
        <td>{{ attachment.fileName }}</td>
        <td>{{ attachment.fileType }}</td>
        <td>{{ attachment.fileSize }} bytes</td>
        <td><a href="{{ path('club_message_adminmessage_attachmentdelete', {'id':attachment.id}) }}">Delete</a></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">{% trans %}There are no attachments.{% endtrans %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</fieldset>

<form method="get" action="{{ path('club_message_adminmessage_recipient', {'id':message.id}) }}">
  {% include "ClubLayoutBundle:Default:submit_button.html.twig" with {'button':'Next'|trans} %}
</form>

{% endblock %}
