{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('club_message_adminmessage_recipient', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add recipients{% endtrans %}</span></a>
</p>
<fieldset>
  <legend>Attachments</legend>

  <table class="style">
    <thead>
      <tr>
        <th>File name</th>
        <th>File type</th>
        <th>File size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for attachment in attachments %}
      <tr>
        <td>{{ attachment.fileName }}</td>
        <td>{{ attachment.fileType }}</td>
        <td>{{ attachment.fileSize }} bytes</td>
        <td><a href="{{ path('club_message_adminmessage_attachmentdelete', {'id':attachment.id}) }}">Delete</a></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">There are no attachments.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</fieldset>

<form method="post" action="{{ path('club_message_adminmessage_attachment', {'id':message.id}) }}" {{ form_enctype(form) }}>
  <fieldset>
    <legend>Upload Attachment</legend>
    {{ form_widget(form) }}
  </fieldset>
  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

</form>
{% endblock %}
