{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('club_message_adminmessage_recipientuser', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add user{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientgroup', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add group{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientevent', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add event{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientfilter', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add filter{% endtrans %}</span></a>
</p>

<fieldset>
  <legend>{% trans %}Recipients{% endtrans %}</legend>

  <table class="style">
    <thead>
      <tr>
        <th width="80">{% trans %}Type{% endtrans %}</th>
        <th width="300">{% trans %}Recipient{% endtrans %}</th>
        <th width="100">{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        <td>{{ line.type }}</td>
        <td>{{ line.message }}</td>
        <td>
          {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':line.path} %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">{% trans %}There are no recipients.{% endtrans %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>

<hr class="noscreen" />
<div class="box-01">
  <form method="POST" action="{{ path('club_message_adminmessage_process', {'id':message.id}) }}">
    <p class="nom"><input type="submit" value="{% trans %}Send message{% endtrans %}" class="input-submit" /></p>
  </form>
</div> <!-- /box-01 -->

{% endblock %}
