{% extends "ClubMessageBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('club_message_adminmessage_recipientuser', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add user{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientgroup', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add group{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientevent', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add event{% endtrans %}</span></a>
  <a href="{{ path('club_message_adminmessage_recipientfilter', {'id':message.id}) }}" class="btn-create"><span>{% trans %}Add filter{% endtrans %}</span></a>
</p>

<fieldset>
  <legend>Recipients</legend>

  <table class="style">
    <thead>
      <tr>
        <th width="80">Type</th>
        <th width="300">Recipient</th>
        <th width="100">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        <td>{{ line.type }}</td>
        <td>{{ line.message }}</td>
        <td><a href="{{ line.path }}">Delete</a></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">There are no recipients.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</fieldset>

<hr class="noscreen" />
<div class="box-01">
  <p class="nom"><input type="button" onclick="location.href='{{ path('club_message_adminmessage_process', {'id':message.id}) }}'" value="{% trans %}Queue message{% endtrans %}" class="input-submit" /></p>
</div> <!-- /box-01 -->

{% endblock %}
