{% extends "ClubMessageBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_message_adminmessage_recipientuser', {'id':message.id}) }}">{% trans %}Add user{% endtrans %}</a></li>
            <li><a href="{{ path('club_message_adminmessage_recipientgroup', {'id':message.id}) }}">{% trans %}Add group{% endtrans %}</a></li>
            <li><a href="{{ path('club_message_adminmessage_recipientevent', {'id':message.id}) }}">{% trans %}Add event{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<fieldset>
  <legend>{% trans %}Recipients{% endtrans %}</legend>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Recipient{% endtrans %}</th>
        <th class="action">{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        <td>{{ line.type }}</td>
        <td>{{ line.message }}</td>
        <td>
          {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':line.path} %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">{% trans %}There are no recipients.{% endtrans %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>

<hr class="noscreen" />
<div class="box-01">
  <form method="POST" action="{{ path('club_message_adminmessage_process', {'id':message.id}) }}">
    <p class="nom"><input type="submit" value="{% trans %}Send message{% endtrans %}" class="input-submit" /></p>
  </form>
</div> <!-- /box-01 -->

{% endblock %}
