{% extends "ClubMessageBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_message_adminmessage_index') }}">{% trans %}Messages{% endtrans %}</a></li>
            <li><a href="{{ path('club_message_adminmessage_show', {'id':message.id}) }}">{% trans %}Show{% endtrans %}</a></li>
            <li><a href="{{ path('club_message_adminmessage_recipients', {'id':message.id}) }}">{% trans %}Recipients{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in recipients %}
        <tr>
            <td>{{ recipient.user.name }}</td>
            <td>{{ recipient.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
