{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Orders{% endtrans %}</h2>

<!-- Actions -->
<form method="post" action="">
<div class="box-02 bottom box">
  <strong>Search:</strong>
  {{ form_widget(form.query, {'attr': {'class':'input-text'} }) }}
  <input type="submit" value="OK" />
</div> <!-- /box-02 -->
{{ form_rest(form) }}
</form>

<div class="fix" style="height: 10px;"></div>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Order number{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Price{% endtrans %}</th>
      <th>{% trans %}Status{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Updated at{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for order in orders %}
    <tr>
      <td>{{ order.orderNumber }}</td>
      <td>{{ order.user.profile.firstName }} {{ order.user.profile.lastName }}</td>
      <td>{{ order.price|club_price }}</td>
      <td>{{ order.orderStatus.statusName }}</td>
      <td>{{ order.createdAt|club_datetime }}</td>
      <td>{{ order.updatedAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_shop_order_edit', { 'id':order.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_shop_order_delete', { 'id':order.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="7">{% trans %}There are no orders.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}
{% endblock %}
