{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block header %}<h1>Ban</h1>{% endblock %}

{% block body %}

<form method="post" action="">
<table>
  <thead>
    <tr>
      <th>[x]</th>
      <th>Type</th>
      <th>Value</th>
      <th>Expires At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7" class="arrow-01">
        <select name="" class="input-text">
          <option value="">Expire selected</option>
          <option value="">Extend selected</option>
        </select>&nbsp;<input type="submit" value="OK" />
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for ban in bans %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ ban.type }}</td>
      <td>{{ ban.value }}</td>
      <td>{{ ban.expireDate|date("Y-m-d") }}</td>
      <td>
        <a href="{{ path('ban_expire', {'id':ban.id}) }}">Expire</a>
        <a href="{{ path('ban_extend', {'id':ban.id}) }}">Extend</a>
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">There are no bans at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
