<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/reset.css') }}" /> <!-- RESET -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/main.css') }}" /> <!-- MAIN STYLE SHEET -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/2col.css') }}" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
        <link rel="alternate stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/1col.css') }}" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
        <!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/main-ie6.css') }}" /><![endif]--> <!-- MSIE6 -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/style.css') }}" /> <!-- GRAPHIC THEME -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/mystyle.css') }}" /> <!-- WRITE YOUR CSS CODE HERE -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/slimbox2.css') }}" /> <!-- LIGHTBOX -->
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.slimbox2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.tablesorter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.switcher.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/toggle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/ui.core.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/ui.tabs.js') }}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
                $(".tabs > ul").tabs();
                $.tablesorter.defaults.sortList = [[1,0]];
                $("table").tablesorter({
                        headers: {
                                0: { sorter: false },
                                7: { sorter: false }
                        }
                });
        });
        </script>

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
      </head>
    <body>
<div id="main">

        <!-- Tray -->
        <div id="tray" class="box">

                <p class="f-left box">

                        <!-- Switcher -->
                        <span class="f-left" id="switcher">
                          <a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="{{ asset('images/switcher-1col.gif') }}" alt="1 Column" /></a>
                          <a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="{{ asset('images/switcher-2col.gif') }}" alt="2 Columns" /></a>
                        </span>

                        {% render "ClubUserBundle:Misc:getSwitchLocation" %}

                </p>

                <p class="f-right">User: <strong>{% render "ClubUserBundle:Misc:getUsername" %}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="{{ path('_security_logout') }}" id="logout">Log out</a></strong></p>

        </div> <!--  /tray -->

        <hr class="noscreen" />

        <!-- Menu -->
        <div id="menu" class="box">
          {% include "::top_menu.html.twig" %}
        </div> <!-- /header -->

        <hr class="noscreen" />

        <!-- Columns -->
        <div id="cols" class="box">

                <!-- Aside (Left Column) -->
                <div id="aside" class="box">

                        <div class="padding box">

                                <!-- Logo (Max. width = 200px) -->
                                <p id="logo"><a href="#"><img src="{{ asset('images/logo.gif') }}" alt="Our logo" title="Visit Site" /></a></p>

                                {% if is_granted('ROLE_ADMIN') %}

                                {% block search %}{% endblock %}
                                {% endif %}

                        </div> <!-- /padding -->

                        {% if is_granted('ROLE_ADMIN') %}
                        {% include "::left_menu.html.twig" %}
                        {% endif %}

                </div> <!-- /aside -->

                <hr class="noscreen" />

                <!-- Content (Right Column) -->
                <div id="content" class="box">

                        {% block body %}{% endblock %}

                </div> <!-- /content -->

        </div> <!-- /cols -->

        <hr class="noscreen" />

        <!-- Footer -->
        <div id="footer" class="box">

                <p class="f-left">&copy; 2011 <a href="#">ClubMaster</a>, All Rights Reserved &reg;</p>

                <p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>

        </div> <!-- /footer -->

</div> <!-- /main -->

    </body>
</html>
