<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <p>
        <a href="{{ path('user') }}">User</a> |
        <a href="{{ path('location') }}">Location</a> |
        <a href="{{ path('role') }}">Role</a> |
        <a href="{{ path('group') }}">Group</a> |
        <a href="{{ path('_security_logout') }}">Logout</a> |
        </p>
        {% block body %}{% endblock %}
    </body>
</html>
