<ul class="box">
  <li><a href="{{ path('user') }}">User</a>
    <ul>
      <li><a href="{{ path('user') }}">Ban</a></li>
    </ul>
  </li>
  <li><a href="{{ path('location') }}">Location</a></li>
  <li id="submenu-active"><a href="{{ path('group') }}">Group</a></li>
  <li><a href="{{ path('user') }}">Company</a></li>
  <li><a href="{{ path('user') }}">Company config</a></li>
  <li><a href="{{ path('user') }}">Mail</a></li>
  <li><a href="{{ path('shop_category') }}">Category</a></li>
  <li><a href="{{ path('shop_order') }}">Order</a></li>
  <li><a href="{{ path('shop_checkout') }}">Basket</a></li>
  <li><a href="{{ path('user') }}">Order Status</a></li>
  <li><a href="{{ path('user') }}">Transaction</a></li>
  <li><a href="{{ path('user') }}">Config Group</a></li>
  <li><a href="{{ path('user') }}">Config</a></li>
  <li><a href="{{ path('user') }}">Language</a></li>
  <li><a href="{{ path('user') }}">Role</a></li>
</ul>

