<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8" />
<title>{% block title %}{{ club_title }}{% endblock %}</title>
<meta name="description" content="ClubMaster is an open source management tool">
<meta name="author" content="Michael Holm">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/black-tie/jquery-ui.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% stylesheets "@ClubLayoutBundle/Resources/public/css/signin.css" %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<!--
<link rel="stylesheet" href="{{ asset('bundles/clubextra/css/style.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/clubformextra/css/style.css') }}" />
-->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/clublayout/images/apple-touch-icon-144-precomposed.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/clublayout/images/apple-touch-icon-114-precomposed.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/clublayout/images/apple-touch-icon-72-precomposed.png') }}">
<link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/clublayout/images/apple-touch-icon-57-precomposed.png') }}">

{% block stylesheets %}{% endblock %}

</head>
<body>

{% block topmenu %}
{% render controller("ClubMenuBundle:Default:topMenu") %}
{% endblock %}

<div class="container-fluid">
    {% include 'ClubFormExtraBundle:Default:flash.html.twig' %}
    {% block body %}{% endblock %}
</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
