<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8" />
    <title>{% block title %}ClubMaster{% endblock %}</title>
    <meta name="description" content="ClubMaster is an open source management tool">
    <meta name="author" content="Michael Holm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{{ asset('bundles/clublayout/css/ui-lightness/jquery-ui-1.8.23.custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/clublayout/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/clublayout/css/mystyle.css') }}" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{ asset('bundles/clublayout/js/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clublayout/js/jquery-ui-1.8.23.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clublayout/js/iso8601.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/clublayout/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#login_username').click(function() {
        this.select();
      });
    });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/clublayout/js/bootstrap-typeahead.min.js') }}"></script>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

</head>
<body>

    {% render "ClubMenuBundle:Default:topMenu" %}

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">
            <!-- {% render "ClubLayoutBundle:Misc:Logo" %} -->
            {% include "ClubLayoutBundle:Default:user_form.html.twig" %}
            {% include "ClubLayoutBundle:Default:login_form.html.twig" %}
            {% include "ClubLayoutBundle:Default:search_form.html.twig" %}
            {% render "ClubMenuBundle:Default:leftMenu" %}
        </div><!--/span-->

        <div class="span9">

            {% block header %}<div class="page-header"><h1>ClubMaster</h1></div>{% endblock %}
            {% block pagenav %}{% endblock %}

            {% if is_granted('ROLE_ADMIN') %}
                {% block logger %}{% render "ClubLogBundle:Log:LogView" %}{% endblock %}
            {% endif %}

            {% include 'ClubLayoutBundle:Default:flash.html.twig' %}
            {% block body %}{% endblock %}

        </div>
      </div><!--/row-fluid -->

      <hr>
      <footer>
          <p><a href="http://www.clubmaster.org" target="_open">ClubMaster</a>, {% render "ClubUserBundle:Misc:versionBar" %}</p>
      </footer>
    </div><!--/container-fluid -->

</body>
</html>
