{% block form_row %}
{% spaceless %}
    <div class="control-group {% if errors|length > 0%}error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {% if help is defined %}
                {% for h in help %}
                    <span class="help-block">{{ h|raw }}</span>
                {% endfor %}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block tinymce_widget %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset('bundles/clublayout/tinymce/jscripts/tiny_mce/tiny_mce.js') }}"></script>
    <script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "simple",
        width: "80%",
        height: "300px"
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_datetime_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}_date" ).datepicker();
        }
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_date_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}" ).datepicker();
        }
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_birthday_widget %}
{% spaceless %}
    <script>
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $( "#{{ id }}" ).datepicker();
        }
    });
    </script>

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}

{% block jquery_autocomplete_widget %}
{% spaceless %}
    {% set field_id = '#' ~ id %}

    {% if v is defined %}
        {% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'f':field_id, 'v':v} %}
    {% else %}
        {% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'f':field_id} %}
    {% endif %}

    {{ form_widget(form) }}
{% endspaceless %}
{% endblock %}
