{% block form_row %}
{% spaceless %}
    <div class="form-group {% if errors|length > 0%}has-error{% endif %}">
        {{ form_label(form) }}
        <div class="col-sm-10">
            {{ form_widget(form) }}

            {% if help is defined %}
            {% for h in help %}
            <small><span class="help-block">{{ h|raw|trans }}</span></small>
            {% endfor %}
            {% endif %}

            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
