<ul class="box">
  <li><a href="{{ path('admin_user') }}">{% trans %}User{% endtrans %}</a>
    <ul>
      <li><a href="{{ path('admin_location') }}">{% trans %}Location{% endtrans %}</a></li>
      <li><a href="{{ path('admin_group') }}">{% trans %}Group{% endtrans %}</a></li>
      <li><a href="{{ path('admin_currency') }}">{% trans %}Currency{% endtrans %}</a></li>
      <li><a href="{{ path('ban') }}">{% trans %}Ban{% endtrans %}</a></li>
      <li><a href="{{ path('admin_task') }}">{% trans %}Task{% endtrans %}</a></li>
      <li><a href="{{ path('admin_log') }}">{% trans %}Log{% endtrans %}</a></li>
    </ul>
  </li>
  <li><a href="{{ path('shop') }}">{% trans %}Shop{% endtrans %}</a>
    <ul>
      <li><a href="{{ path('admin_shop_product') }}">{% trans %}Product{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_category') }}">{% trans %}Category{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_order') }}">{% trans %}Order{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_payment_method') }}">{% trans %}Payment Method{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_shipping') }}">{% trans %}Shipping{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_special') }}">{% trans %}Special{% endtrans %}</a></li>
      <li><a href="{{ path('admin_shop_transaction') }}">{% trans %}Transaction{% endtrans %}</a></li>
    </ul>
  </li>
  <li><a href="{{ path('admin_event_event') }}">{% trans %}Event{% endtrans %}</a></li>
  <li><a href="{{ path('club_account_adminaccount_index') }}">{% trans %}Account{% endtrans %}</a></li>
</ul>
