  <div class="col33"><a href="{{ path('club_event_adminevent_prev') }}">&laquo; {{ prev.format('F Y') }}</a></div>
  <div class="col33 center t-center bigger"><strong>{{ current.format('F Y') }} (Week #{{ current.format('W') }})</strong></div>
  <div class="col33 t-right"><a href="{{ path('club_event_adminevent_next') }}">{{ next.format('F Y') }} &raquo;</a></div>

