  <div class="col33"><a href="{{ path('club_event_adminevent_prev') }}">&laquo; {{ prev|date('F Y') }}</a></div>
  <div class="col33 center t-center bigger"><strong>{{ current|date('F Y') }} (Week #{{ current|date('W') }})</strong></div>
  <div class="col33 t-right"><a href="{{ path('club_event_adminevent_next') }}">{{ next|date('F Y') }} &raquo;</a></div>

