{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('admin_event_event_new') }}" class="btn-create"><span>Create event</span></a></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Event</th>
      <th>Attends</th>
      <th>Price</th>
      <th>Start date</th>
      <th>Stop date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for event in events %}
    <tr>
      <td>{{ event.id }}</td>
      <td>{{ event.eventName }}</td>
      <td>{{ event.attends|length }} / {% if event.maxAttends == 0 %}-{% else %}{{ event.maxAttends }}{% endif %}</td>
      <td>{{ event.price }}</td>
      <td>{{ event.startDate|date('Y-m-d H:i') }}</td>
      <td>{{ event.stopDate|date('Y-m-d H:i') }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_event_event_edit', { 'id':event.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_event_event_delete', { 'id':event.id })} %}
        {% include "ClubLayoutBundle:Default:attend_link.html.twig" with {'url':path('admin_event_attend', {'id':event.id})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="7">There are no events at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
