{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}

<div class="nav-top box">
  {% include "ClubEventBundle:AdminEvent:_navigation.html.twig" %}
</div> <!-- /nav-top -->

<p class="box"><a href="{{ path('admin_event_event_new') }}" class="btn-create"><span>{% trans %}Create event{% endtrans %}</span></a></p>

      <!-- Calendar -->
      <table id="calendar-02" class="width100">
        {% for event in events %}
        <tr>
          <th style="width:100px;">{{ event.startDate|date('l') }}<br />{{ event.startDate|date('Y/n/j') }}</th>
          <td class="note-01">
            <ul class="nostyle">
              <li>
                <strong>{{ event.eventName }}</strong><br />
                {% trans with {'%date%':event.startDate|date('Y-m-d H:i')} %}Start date: %date%{% endtrans %}<br />
                {% trans with {'%date%':event.stopDate|date('Y-m-d H:i')} %}Stop date: %date%{% endtrans %}<br />
                {% if event.maxAttends == 0 %}
                {% trans with {'%attends%':event.attends|length} %}Attends: %attends% / No limit{% endtrans %}<br />
                {% else %}
                {% trans with {'%attends%':event.attends|length,'%limit%':event.maxAttends} %}Attends: %attends% / %limit%{% endtrans %}<br />
                {% endif %}
                {% trans with {'%price%':event.price|price} %}Price: %price%{% endtrans %}<br />

                {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_event_event_edit', { 'id':event.id })} %} {% trans %}Edit{% endtrans %}&#160;
                {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_event_event_delete', { 'id':event.id })} %} {% trans %}Delete{% endtrans %}&#160;
                {% include "ClubLayoutBundle:Default:attend_link.html.twig" with {'url':path('admin_event_attend', {'id':event.id})} %} {% trans %}Attends{% endtrans %}&#160;
              </li>
            </ul>
          </td>
        </tr>
        {% else %}
        <tr>
          <th>&#160;</th>
          <td>
            <p>Nothing. <a href="{{ path('admin_event_event_new') }}" class="ico-list">Create</a></p>
          </td>
        </tr>

        {% endfor %}
      </table>

      <!-- Month -->

      <div class="nav-bottom box">
        {% include "ClubEventBundle:AdminEvent:_navigation.html.twig" %}
      </div> <!-- /nav-top -->

{% endblock %}
