<h2>Login Attempts</h2>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Session</th>
      <th>Client Ip</th>
      <th>Hostname</th>
      <th>Failed</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="6">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for attempt in logins %}
    <tr>
      <td>{{ attempt.username }}</td>
      <td>{{ attempt.session }}</td>
      <td>{{ attempt.ipAddress }}</td>
      <td>{{ attempt.hostname }}</td>
      <td>{{ attempt.loginFailed }}</td>
      <td>{{ attempt.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="6">There are no logs at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include "ClubLayoutBundle:Default:paginator.html.twig" with {'paginator':logins_paginator} %}
