<h2>Logs</h2>

<table>
  <thead>
    <tr>
      <th>[x]</th>
      <th>User</th>
      <th>Event</th>
      <th>Log type</th>
      <th>Message</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="6">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for log in logs %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ log.user.profile.name }}</td>
      <td>{{ log.event }}</td>
      <td>{{ log.logType }}</td>
      <td>{{ log.log }}</td>
      <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
  {% else %}
  <tr>
    <td colspan="6">There are no logs at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
