  {{ form_row(form.TimeInterval) }}
  <span class="smaller low">{% trans %}Info: What is the time interval for this subscription? Ex. 0Y2M13DT2H0M0S{% endtrans %}</span>
  {{ form_row(form.Ticket) }}
  <span class="smaller low">{% trans %}Info: How many tickets will the user get for this subscription?{% endtrans %}</span>
  {{ form_row(form.AutoRenewal) }}
  <span class="smaller low">{% trans %}Info: Will this subscription automatically be renewal?{% endtrans %}</span>
  {{ form_row(form.Lifetime) }}
  <span class="smaller low">{% trans %}Info: Is this a lifetime subscription?{% endtrans %}</span>
  {{ form_row(form.AllowedPauses) }}
  <span class="smaller low">{% trans %}Info: How many pauses is the user of this subscription allowed to take?{% endtrans %}</span>
  {{ form_row(form.StartDate) }}
  <span class="smaller low">{% trans %}Info: What will be the first day of this subscription?{% endtrans %}</span>
  {{ form_row(form.ExpireDate) }}
  <span class="smaller low">{% trans %}Info: When will subscription expire? (Has to be used with StartDate){% endtrans %}</span>
  {{ form_row(form.Location) }}
  <span class="smaller low">{% trans %}Info: Which locations will the user be a member of?{% endtrans %}</span>

  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

