{% extends "ClubShopBundle::base.html.twig" %}


{% block body %}
<p class="box"><a class="btn-create" href="{{ path("shop_product_cart",{"id":product.id}) }}"><span>Add to cart</span></a></p>

<div class="box-03 noimage box">

  <h2 class="nomb">{{ product.productName }}</h2>
  <p class="nomt low">
    Price: {{ product.specialPrice }}<br />
    Vat price: {{ product.specialVatPrice }}<br />
  </p>
  <h2>Description</h2>
  <p>{{ product.description|raw }}</p>

</div> <!-- /box-03 -->



{% endblock %}
