{% extends "ClubBookingBundle::base.html.twig" %}

{% block javascripts %}
  {% include "ClubLayoutBundle:Default:ajax_calendar.html.twig" %}

  <script>
  $(document).ready(function() {
    var date = Date.parse("{{ date|date('c')}}");
    var url = "{{ path('homepage') }}";
    var location = {{ location.id }};
    var locale = "en";
    var hour_height = 80;
    var field_width = 120;

    initTable(location, date, url, hour_height, field_width, locale);
  });
  </script>

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/clubbooking/css/booking_horizontal.css') }}" />
{% endblock %}

{% block body %}
<form method="POST" action="{{ path('club_booking_overview') }}">
<h2>{{ date|club_date('full') }} <input type="hidden" name="date" id="date" /></h2>
</form>

<p>
{% for item in nav %}
    <a class="btn" href="{{ path('club_booking_overview_index', {'date':item|date('Y-m-d')}) }}"><span>{{ item|club_day }} &raquo;</span></a>
{% endfor %}
</p>

<p>
    <a class="link" id="prev"><img src="{{ asset('bundles/clublayout/images/icons/32x32/arrow_left.png') }}" /></a>
    <a class="link" id="next"><img src="{{ asset('bundles/clublayout/images/icons/32x32/arrow_right.png') }}" /></a>
</p>

<div id="overlay">
  <div id="booking">
    <div id="times"></div> <!-- this is for field names -->
     <div id="nav_overlay">
      <div id="fields"></div> <!-- this is for time periods -->
      <div id="intervals"></div> <!-- this is for intervals -->
      <div id="bookings"></div> <!-- this is for bookings -->
    </div>
  </div>
</div>
<div id="preloader"><img src="{{ asset('bundles/clublayout/images/ajax-loader.gif') }}"></div>

{% endblock %}
