{% extends "ClubBookingBundle::base.html.twig" %}

{% block javascripts %}
  <script src="{{ asset('bundles/clublayout/js/booking.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('bundles/clublayout/css/booking.css') }}" />
{% endblock %}

{% block body %}
<h2>Booking - {{ date|date('Y-m-d') }}</h2>

{% for item in nav %}
  <div class="col33 t-right"><a href="{{ path('club_booking_overview_index', {'date':item|date('Y-m-d')}) }}">{{ item|date('l') }} &raquo;</a></div>
{% endfor %}

{% include "ClubBookingBundle:Overview:table.html.twig" %}

{% endblock %}
