<table class="table table-bordered">
    <tr>
        <th>{% trans %}Location{% endtrans %}</th>
        <td>{{ interval.field.location.locationName }}</td>
    </tr>
    <tr>
        <th>{% trans %}Date{% endtrans %}</th>
        <td>{{ date|club_date }}</td>
    </tr>
    <tr>
        <th>{% trans %}Time{% endtrans %}</th>
        <td>{{ interval.startTime|club_time }} - {{ interval.stopTime|club_time }}</td>
    </tr>
    <tr>
        <th>{% trans %}Field{% endtrans %}</th>
        <td>{{ interval.field.name }}</td>
    </tr>

    {% if interval.booking %}
    <tr>
        <th>{% trans %}Booker{% endtrans %}</th>
        <td>{{ interval.booking.user.name }}</td>
    </tr>
      {% if interval.booking.guest %}
    <tr>
        <th>{% trans %}Partner{% endtrans %}</th>
        <td>Guest</td>
    </tr>
      {% else %}
    <tr>
        <th>{% trans %}Partner{% endtrans %}</th>
        <td>
      {% for partner in interval.booking.users %}
        {{ partner.name }},
      {% endfor %}
        </td>
      {% endif %}

    {% elseif interval.schedule %}
    <tr>
        <th>{% trans %}Team{% endtrans %}</th>
        <td>{{ interval.schedule.team.teamName }}</td>
    </tr>

    {% endif %}
</table>

    {% if interval.field.information %}
      <h2>{% trans %}Information{% endtrans %}</h2>
      <p>{{ interval.field.information }}</p>
    {% endif %}

<hr>
