<fieldset>
  <legend>{% trans %}Booking Information{% endtrans %}</legend>
  <div class="list">
    <p><label>{% trans %}Location{% endtrans %}</label>{{ interval.field.location.locationName }}</p>
    <p><label>{% trans %}Date{% endtrans %}</label>{{ date|date('Y-m-d') }}</p>
    <p><label>{% trans %}Time{% endtrans %}</label>{{ interval.startTime|date('H:i') }} - {{ interval.stopTime|date('H:i') }}</p>
    <p><label>{% trans %}Field{% endtrans %}</label>{{ interval.field.name }}</p>

    {% if interval.booking %}
      <p><label>{% trans %}Booker{% endtrans %}</label>{{ interval.booking.user.name }}</p>
      {% if interval.booking.guest %}
      <p><label>{% trans %}Partner{% endtrans %}</label>Guest</p>
      {% else %}
      <p><label>{% trans %}Partner{% endtrans %}</label>
      {% for partner in interval.booking.users %}
        {{ partner.name }}
      {% endfor %}
      </p>
      {% endif %}

    {% elseif interval.schedule %}
      <p><label>{% trans %}Team{% endtrans %}</label>{{ interval.schedule.team.teamName }}</p>

    {% endif %}

    {% if interval.field.information %}
      <h3>{% trans %}Information{% endtrans %}</h3>
      <p>{{ interval.field.information }}</p>
    {% endif %}
  </div>
</fieldset>

