{% block javascripts %}
<script type="text/javascript">
  $(function() {
    $( "#booking_query" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/clubmaster/web/index_dev.php/api/users/search/grace",
          success: function( data ) {
            response( $.map( data.geonames, function( item ) {
              return {
                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                value: item.name
              }
            }));
          },
          headers: {
            "API_KEY":"THIS_IS_A_DEMO_KEY"
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>
{% endblock %}

{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>Booking</h2>

<fieldset>
  <legend>Booking Information</legend>
  <div class="list">
    <p><label>Location</label>{{ interval.field.location.locationName }}</p>
    <p><label>Date</label>{{ date|date('Y-m-d') }}</p>
    <p><label>Time</label>{{ interval.startTime|date('H:i') }} - {{ interval.stopTime|date('H:i') }}</p>
    <p><label>Field</label>{{ interval.field.name }}</p>

    {% if interval.field.information %}
    <h3>Information</h3>
    <p>{{ interval.field.information }}</p>
    {% endif %}
  </div>
</fieldset>

<fieldset>
  <form method="post" action="{{ path('club_booking_booking_review', {'interval_id':interval.id, 'date':date|date('Y-m-d')}) }}">
    <legend>Booking</legend>

    <p>Find your partner and complete your booking.</p>
    {{ form_widget(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

  </form>
</fieldset>

<fieldset>
  <form method="post" action="{{ path('club_booking_booking_review', {'interval_id':interval.id, 'date':date|date('Y-m-d')}) }}">
    <legend>Guest Booking</legend>

    <p>Click here if you want to book with a guest.</p>
    <input type="hidden" name="guest" value="1" />
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

  </form>
</fieldset>

{% endblock %}
