{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}

<p class="box">
{% if event.isAttending(user) %}
<a href="{{ path('event_event_unattend', {'id':event.id}) }}" class="btn-create"><span>Unattend</span></a>
{% else %}
<a href="{{ path('event_event_attend', {'id':event.id}) }}" class="btn-create"><span>Attend</span></a>
{% endif %}
</p>

      <div class="box-03 event box">

        <h2 class="nomb">{{ event.eventName }}</h2>
        <p class="nomt low">
          Start date: {{ event.startDate|date('Y-m-d H:i') }}<br />
          Start date: {{ event.stopDate|date('Y-m-d H:i') }}<br />
          Price: {% if event.price == '' %}-{% else %}{{ event.price }}{% endif %}
        </p>
        <p class="nomt low">{{ event.description|raw }}</p>

      </div> <!-- /box-03 -->

{% endblock %}
