{% extends "ClubEventBundle::base.html.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p class="box">
  {% if event.isAttending(user) %}
  <a href="{{ path('event_event_unattend', {'id':event.id}) }}" class="btn-delete"><span>{% trans %}Unattend{% endtrans %}</span></a>
  {% else %}
  <a href="{{ path('event_event_attend', {'id':event.id}) }}" class="btn-create"><span>{% trans %}Attend{% endtrans %}</span></a>
  {% endif %}
</p>
{% endif %}

<h2>{{ event.eventName }}</h2>

<div class="box-03 event box">

  <h2 class="nomb">{{ event.eventName }}</h2>
  <p class="nomt low">
    {% trans with {'%date%':event.startDate|club_datetime} %}Start date: %date%{% endtrans %}<br />
    {% trans with {'%date%':event.stopDate|club_datetime} %}Stop date: %date%{% endtrans %}<br />
  </p>

  <h2>{% trans %}Description{% endtrans %}</h2>
  <p class="nomt low">{{ event.description|raw }}</p>

</div> <!-- /box-03 -->

{% endblock %}
