{% extends "ClubEventBundle::base.html.twig" %}

{% block header %}<div class="page-header"><h1>{{ event.eventName }}</h1></div>{% endblock %}

{% block pagenav %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            {% if event.isAttending(app.user) %}
            <li><a href="{{ path('event_event_unattend', {'id':event.id}) }}">{% trans %}Unattend{% endtrans %}</a></li>
            {% else %}
            <li><a href="{{ path('event_event_attend', {'id':event.id}) }}">{% trans %}Attend{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <th>{% trans %}Last subscription{% endtrans %}</th>
        <td>{{ event.lastSubscribe|club_datetime }}</td>
    </tr>
    <tr>
        <th>{% trans %}Period{% endtrans %}</th>
        <td>{{ event.startDate|club_datetime }} - {{ event.stopDate|club_datetime }}</td>
    </tr>
    <tr>
        <th>{% trans %}Location{% endtrans %}</th>
        <td>{{ event.street }}, {{ event.postalCode }} {{ event.city }}, {{ event.country }}</td>
    <tr>
        <th>{% trans %}Description{% endtrans %}</th>
        <td>{{ event.description|raw }}</td>
    </tr>
</table>

{% endblock %}
