{% extends "ClubUserBundle:Auth:base.html.twig" %}

{% block body %}
        <div id="login-top"></div>

        <div id="login-box">

                <!-- Logo -->
                <p class="nom t-center"><a href="{{ path('homepage') }}"><img src="{{ asset('bundles/clublayout/images/logo.png') }}" alt="ClubMaster" title="ClubMaster" /></a></p>

                <!-- Messages -->
                <p class="msg info">Enter your username or email address, and you will receive a reset password email within a few minutes.</p>

                <!-- Form -->
                <form method="POST" action="{{ path('auth_forgot') }}">
                <table class="nom nostyle">
                        <tr>
                          <td style="width:75px;"><label for="login-user"><strong>{{ form_label(form.username) }}</strong></label></td>
                          <td>{{ form_widget(form.username) }}</td>
                        </tr>
                        <tr>
                          <td style="width:75px;"><label for="login-user"><strong>{{ form_label(form.email) }}</strong></label></td>
                          <td>{{ form_widget(form.email) }}</td>
                        </tr>
                        <tr>
                                <td colspan="2" class="t-right"><input type="submit" class="input-submit" value="Send Password &raquo;" /></td>
                        </tr>
                        <tr>
                                <td></td>
                                <td>
                                  <span class="f-right"><a href="{{ path('login') }}">Login</a></span>
                                </td>
                        </tr>
                </table>
                </form>

        </div> <!-- /login-box -->

        <div id="login-bottom"></div>
{% endblock %}
