<div class="container">

    {{ form_start(form) }}

    <h2 class="form-signin-heading">{% trans %}Please sign in{% endtrans %}</h2>

    <div class="panel panel-primary">
        {{ form_row(form._username, {'attr':{'placeholder':'Member number'|trans}}) }}
        {{ form_row(form._password, {'attr':{'placeholder':'Password'|trans}}) }}
        {{ form_row(form._remember_me) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-lg btn-primary" type="submit">{% trans %}Sign in{% endtrans %}</button>

                <div style="padding-top: 30px">
                    <a href="{{ path('auth_forgot') }}">{% trans %}Forgot password?{% endtrans %}</a>
                </div>

            </div>
        </div>

        {{ form_end(form) }}

        <div style="clear: both;"></div>

    </div>
</div>
