<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />
        <meta name="robots" content="noindex,nofollow" />
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/reset.css') }}" /> <!-- RESET -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/main.css') }}" /> <!-- MAIN STYLE SHEET -->
        <!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/main-ie6.css') }}" /><![endif]--> <!-- MSIE6 -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/style.css') }}" /> <!-- GRAPHIC THEME -->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset('css/mystyle.css') }}" /> <!-- WRITE YOUR CSS CODE HERE -->
        <script type="text/javascript" src="{{ asset('js/toggle.js') }}"></script>
        <title>Adminizio - Log In</title>
</head>

<body id="login">

<div id="main-02">

        <div id="login-top"></div>

        <div id="login-box">

                <!-- Logo -->
                <p class="nom t-center"><a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.gif') }}" alt="ClubMaster" title="ClubMaster" /></a></p>

                <!-- Messages -->
                {% if error is defined %}
                <p class="msg error">{{ error.message }}</p>
                {% endif %}

                <p class="msg info">Enter your new password below.</p>

                <!-- Form -->
                <form method="POST" action="{{ path('auth_reset', {'hash':forgot.hash}) }}">
                {{ form_widget(form) }}
                <table class="nom nostyle">
                        <tr>
                                <td colspan="2" class="t-right"><input type="submit" class="input-submit" value="Sign In &raquo;" /></td>
                        </tr>
                </table>
                </form>

        </div> <!-- /login-box -->

        <div id="login-bottom"></div>

</div> <!-- /main -->

</body>
</html>

