{% extends "ClubTaskBundle::base.html.twig" %}

{% block body %}

<h2>Task</h2>

<table>
  <thead>
    <tr>
      <th>[x]</th>
      <th>Task</th>
      <th>Enabled</th>
      <th>Locked</th>
      <th>Last run at</th>
      <th>Next run at</th>
      <th>Task interval</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="8">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for task in tasks %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ task.taskName }}</td>
      <td>{{ task.enabled }}</td>
      <td>{{ task.locked }}</td>
      <td>{{ task.lastRunAt|date('Y-m-d H:i:s') }}</td>
      <td>{{ task.nextRunAt|date('Y-m-d H:i:s') }}</td>
      <td>{{ task.taskInterval }}</td>
      <td>
        <a href="{{ path('admin_task_disable', {'id':task.id}) }}">Disable</a>
        <a href="{{ path('admin_task_enable', {'id':task.id}) }}">Enable</a>
        <a href="{{ path('admin_task_run', {'id':task.id}) }}">Run</a>
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="8">There are no tasks at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
