{% extends "ClubLayoutBundle:Default:base.html.twig" %}

{% block body %}
<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}This is the installer of ClubMaster.{% endtrans %}</p>

<form method="post" action="" class="form-horizontal">
  <fieldset>
    <legend>{% trans %}Personal Information{% endtrans %}</legend>

    <p>{{ form_row(form.profile.first_name) }}</p>
    <p>{{ form_row(form.profile.last_name) }}</p>
    {% for email in form.profile.profile_emails %}
    <p>{{ form_row(email.email_address) }}</p>
    {% endfor %}
    <p>{{ form_row(form.profile.gender) }}</p>
    <p>{{ form_row(form.profile.day_of_birth) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Account Information{% endtrans %}</legend>

    <p>{{ form_row(form.password) }}</p>

    {{ form_row(form._token) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

  </fieldset>
</form>

{% endblock %}
