{% extends "ClubInstallerBundle::base.html.twig" %}

{% block header %}
<div class="page-header"><h1>ClubMaster Installation <small>Administrator</small></h1></div>
{% endblock %}

{% block pagenav %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'administrator'} %}
{% endblock %}

{% block body %}
<p>Now setup your administrator user of ClubMaster.</p>

<form method="post" action="" class="form-horizontal">
  <fieldset>
    <legend>Personal Information</legend>

    {{ form_row(form.member_number) }}
    {{ form_row(form.profile.first_name) }}
    {{ form_row(form.profile.last_name) }}
    {% for email in form.profile.profile_emails %}
    {{ form_row(email.email_address) }}
    {% endfor %}
    {{ form_row(form.profile.gender) }}
    {{ form_row(form.profile.day_of_birth) }}
  </fieldset>

  <fieldset>
    <legend>Account Information</legend>

    {{ form_row(form.password) }}

    {{ form_row(form._token) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

  </fieldset>
</form>

{% endblock %}
