{% extends "ClubInstallerBundle::base.html.twig" %}

{% block body %}
{% include "ClubInstallerBundle:Installer:top.html.twig" with {'page':'administrator'} %}

<h2>{% trans %}ClubMaster Installation{% endtrans %}</h2>

<p>{% trans %}This is the installer of ClubMaster.{% endtrans %}</p>

<form method="post" action="" class="form-horizontal">
  <fieldset>
    <legend>{% trans %}Personal Information{% endtrans %}</legend>

    {{ form_row(form.member_number) }}
    {{ form_row(form.profile.first_name) }}
    {{ form_row(form.profile.last_name) }}
    {% for email in form.profile.profile_emails %}
    {{ form_row(email.email_address) }}
    {% endfor %}
    {{ form_row(form.profile.gender) }}
    {{ form_row(form.profile.day_of_birth) }}
  </fieldset>

  <fieldset>
    <legend>{% trans %}Account Information{% endtrans %}</legend>

    {{ form_row(form.password) }}

    {{ form_row(form._token) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

  </fieldset>
</form>

{% endblock %}
