{% extends "ClubLayoutBundle:Default:base2.html.twig" %}

{% block body %}
<h2>ClubMaster Installer</h2>

{% if majorProblems|length > 0 %}
<h2><span>{{ majorProblems|length }} Major problems</span></h2>
<p>Major problems have been detected and <strong>must</strong> be fixed before continuing :</p>

<ol>
  {% for problem in majorProblems %}
  <li>{{ problem }}</li>
  {% endfor %}
</ol>
{% endif %}

{% if minorProblems|length > 0 %}
<h2>Recommendations</h2>
<p>
  {% if majorProblems|length > 0 %}
  Additionally, to
  {% else %}
  To{% endif %}
  enhance your ClubMaster experience, it’s recommended that you fix the following :
</p>
<ol>
  {% for problem in minorProblems %}
  <li>{{ problem }}</li>
  {% endfor %}
</ol>
{% endif %}

{% if phpini %}
<a id="phpini"></a>
<p>*
  {% if php_ini_file %}
  Changes to the <strong>php.ini</strong> file must be done in "<strong><{{ php_ini_file }}</strong>".
  {% else %}
  To change settings, create a "<strong>php.ini</strong>".
  {% endif %}
</p>
</div>
{% endif %}

<p>
{% if majorProblems|length == 0 %}
<a href="{{ path("club_installer_installer_database") }}">Database configuration</a><br />
{% endif %}
<a href="{{ path("club_installer_installer_check") }}">Recheck configuration</a></p>

{% endblock %}
