{% extends "ClubExchangeBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubExchangeBundle:Exchange:header.html.twig" %}
{% endblock %}

{% block body %}
<dl class="dl-horizontal">
      <dt>{% trans %}Play time{% endtrans %}</dt>
      <dd>{{ exchange.playtime|club_datetime }} ({{ exchange.playtime|club_ago }})</dd>
      <dt>{% trans %}Location{% endtrans %}</dt>
      <dd>{{ exchange.location.locationName }}</dd>
      <dt>{% trans %}User{% endtrans %}</dt>
      <dd>{{ exchange.user.name }}</dd>
      <dt>{% trans %}Message{% endtrans %}</dt>
      <dd>{{ exchange.message|raw }}</dd>
</dl>

<h1 class="page-header">{% trans %}Comments{% endtrans %}</h1>
{% for comment in comments %}
<h6>{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</h6>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this exchange.{% endtrans %}</p>
{% endfor %}

{% endblock %}
