{% extends "ClubExchangeBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubExchangeBundle:Exchange:header.html.twig" %}
{% endblock %}

{% block body %}
<dl class="dl-horizontal">
      <dt>{% trans %}Play time{% endtrans %}</dt>
      <dd>{{ exchange.playtime|club_datetime }} ({{ exchange.playtime|club_ago }})</dd>
      <dt>{% trans %}Location{% endtrans %}</dt>
      <dd>{{ exchange.location.locationName }}</dd>
      <dt>{% trans %}User{% endtrans %}</dt>
      <dd><a href="{{ path('club_user_member_show', {'id':exchange.user.id}) }}">{{ exchange.user.name }}</a></dd>
      <dt>{% trans %}Message{% endtrans %}</dt>
      <dd>{{ exchange.message|nl2br }}</dd>
</dl>

<h1 class="page-header">{% trans %}Comments{% endtrans %}</h1>
<a class="btn btn-success" href="{{ path('club_exchange_comment_new', {'id':exchange.id}) }}">{% trans %}Create comment{% endtrans %}</a>

{% for comment in comments %}
<h6>{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name,'%link%':path('club_user_member_show', {'id':comment.user.id})} %}Posted on %date% by <a href="%link%">%author%</a>.{% endtrans %}</h6>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this exchange.{% endtrans %}</p>
{% endfor %}

{% endblock %}
