{% extends "ClubExchangeBundle::base.html.twig" %}

{% block pagenav %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if not exchange.closed %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_exchange_comment_new', {'id':exchange.id}) }}">{% trans %}Create comment{% endtrans %}</a></li>
            {% if exchange.user == app.user %}
            <li><a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" href="{{ path('club_exchange_comment_close', {'id':exchange.id}) }}">{% trans %}Close{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block body %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>{% trans %}Play time{% endtrans %}</th>
      <td>{{ exchange.playtime|club_datetime }} ({{ exchange.playtime|club_ago }})</td>
    </tr>
    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <td>{{ exchange.user.name }}</td>
    </tr>
    <tr>
      <th>{% trans %}Message{% endtrans %}</th>
      <td>{{ exchange.message|raw }}</td>
    </tr>
  </tbody>
</table>

<h1 class="page-header">{% trans %}Comments{% endtrans %}</h1>
{% for comment in comments %}
<h6>{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</h6>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this exchange.{% endtrans %}</p>
{% endfor %}

{% endblock %}
