{% extends "ClubExchangeBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubExchangeBundle:Exchange:header.html.twig" %}
{% endblock %}

{% block body %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>{% trans %}Play time{% endtrans %}</th>
      <td>{{ exchange.playtime|club_datetime }} ({{ exchange.playtime|club_ago }})</td>
    </tr>
    <tr>
      <th>{% trans %}Location{% endtrans %}</th>
      <td>{{ exchange.location.locationName }}</td>
    </tr>

    <tr>
      <th>{% trans %}User{% endtrans %}</th>
      <td>{{ exchange.user.name }}</td>
    </tr>
    <tr>
      <th>{% trans %}Message{% endtrans %}</th>
      <td>{{ exchange.message|raw }}</td>
    </tr>
  </tbody>
</table>

<h1 class="page-header">{% trans %}Comments{% endtrans %}</h1>
{% for comment in comments %}
<h6>{% trans with {'%date%':comment.createdAt|club_datetime,'%author%':comment.user.name} %}Posted on %date% by %author%.{% endtrans %}</h6>
<p>{{ comment.comment|raw }}</p>
{% else %}
<p>{% trans %}There are no comments for this exchange.{% endtrans %}</p>
{% endfor %}

{% endblock %}
