<div class="well">
    <h3>{% trans %}Booking Information{% endtrans %}</h3>
    <dl class="dl-horizontal">
        <dt>{% trans %}Location{% endtrans %}</dt>
        <dd>{{ booking.field.location.locationName }}</dd>

        <dt>{% trans %}Date{% endtrans %}</dt>
        <dd>{{ booking.firstDate|club_date }}</dd>

        <dt>{% trans %}Time{% endtrans %}</dt>
        <dd>{{ booking.firstDate|club_time }} - {{ booking.endDate|club_time }}</dd>

        <dt>{% trans %}Field{% endtrans %}</dt>
        <dd>{{ booking.field.name }}</dd>
    </dl>

    <h3>{% trans %}Players{% endtrans %}</h3>
    <dl class="dl-horizontal">
        <dt>{% trans %}Booker{% endtrans %}</dt>
        <dd><a href="{{ path('club_user_member_show', {'id':booking.user.id}) }}">{{ booking.user.name }} ({{ booking.user.memberNumber }})</a></dd>

        <dt>{% trans %}Partner{% endtrans %}</dt>
        {% if booking.guest %}
        <dd>{% trans %}Guest{% endtrans %}</dd>
        {% else %}
        {% for partner in booking.users %}
        <dd><a href="{{ path('club_user_member_show', {'id':partner.id}) }}">{{ partner.name }} ({{ partner.memberNumber }})</a></dd>
        {% endfor %}
        {% endif %}
    </dl>

    {% if booking.field.information %}
    <h3>{% trans %}Information{% endtrans %}</h3>
    <p>{{ booking.field.information }}</p>
    {% endif %}
</div>

