{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Booking{% endtrans %}</h2>

<fieldset>
  <legend>{% trans %}Booking Information{% endtrans %}</legend>
  <div class="list">
    <p><label>{% trans %}Location{% endtrans %}</label>{{ interval.field.location.locationName }}</p>
    <p><label>{% trans %}Date{% endtrans %}</label>{{ booking.firstDate|club_date('long') }}</p>
    <p><label>{% trans %}Time{% endtrans %}</label>{{ interval.startTime|club_time }} - {{ interval.stopTime|club_time }}</p>
    <p><label>{% trans %}Field{% endtrans %}</label>{{ interval.field.name }}</p>
    <p><label>{% trans %}Price{% endtrans %}</label>{{ price|club_price }}</p>

    <h3>{% trans %}Players{% endtrans %}</h3>
    <p><label>{% trans %}Booker{% endtrans %}</label>{{ booking.user.name }}</p>
    {% if booking.guest %}
    <p><label>{% trans %}Partner{% endtrans %}</label>Guest</p>
    {% else %}
      <p><label>{% trans %}Partner{% endtrans %}</label>
      {% for partner in booking.users %}
        {{ partner.name }}
      {% endfor %}
      </p>
    {% endif %}

    {% if interval.field.information %}
    <h3>{% trans %}Information{% endtrans %}</h3>
    <p>{{ interval.field.information }}</p>
    {% endif %}
  </div>
</fieldset>

<fieldset>
  <legend>{% trans %}Confirm{% endtrans %}</legend>
    <p>{% trans %}Click here to confirm your booking.{% endtrans %}</p>
    <form method="post" action="{{ path('club_booking_booking_confirm') }}">
      <hr class="noscreen" />
      <div class="box-01">
        <p class="nom"><input type="submit" value="{% trans %}Confirm{% endtrans %}" class="input-submit" /></p>
      </div> <!-- /box-01 -->
    </form>
</fieldset>

{% endblock %}
