{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}

<fieldset>
  <legend>{% trans %}Booking Information{% endtrans %}</legend>
  <div class="list">
    <p><label>{% trans %}Location{% endtrans %}</label>{{ field.location.locationName }}</p>
    <p><label>{% trans %}Start date{% endtrans %}</label>{{ date|club_datetime }}</p>
    <p><label>{% trans %}Field{% endtrans %}</label>{{ field.name }}</p>
    <p><label>{% trans %}Plan{% endtrans %}</label>{{ plan.name }}</p>

    {% if field.information %}
      <h3>{% trans %}Information{% endtrans %}</h3>
      <p>{{ field.information }}</p>
    {% endif %}

    <h3>{% trans %}Description{% endtrans %}</h3>
    <p>{{ plan.description }}</p>

    {% if is_granted('ROLE_BOOKING_ADMIN') %}
    <fieldset>
        <legend>{% trans %}Delete{% endtrans %}</legend>

        <p>{% trans %}Click here to cancel this booking plan.{% endtrans %}</p>

        {% include "ClubLayoutBundle:Default:form.html.twig" with {'path':path('club_booking_booking_exclude', {'id':plan.id,'datetime':date|date('Y-m-d H:i')}), 'button':'Cancel'|trans} %}
    </fieldset>
    {% endif %}

  </div>
</fieldset>

{% endblock %}
