{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}
<h2>{% trans %}Booking{% endtrans %}</h2>

<fieldset>
  <legend>{% trans %}Booking Information{% endtrans %}</legend>
  <div class="list">
    <p><label>{% trans %}Location{% endtrans %}</label>{{ field.location.locationName }}</p>
    <p><label>{% trans %}Date{% endtrans %}</label>{{ schedule.firstDate|club_date }}</p>
    <p><label>{% trans %}Time{% endtrans %}</label>{{ schedule.firstDate|club_time }} - {{ schedule.endDate|club_time }}</p>
    <p><label>{% trans %}Field{% endtrans %}</label>{{ field.name }}</p>
    <p><label>{% trans %}Team{% endtrans %}</label>{{ schedule.teamCategory.teamName }}</p>

    {% if field.information %}
      <h3>{% trans %}Information{% endtrans %}</h3>
      <p>{{ field.information }}</p>
    {% endif %}
  </div>
</fieldset>

{% endblock %}
