{% extends "ClubBookingBundle::base.html.twig" %}

{% block body %}

<div class="well">
  <h3>{% trans %}Booking Information{% endtrans %}</h3>
    <dl class="dl-horizontal">
        <dt>{% trans %}Location{% endtrans %}</dt>
        <dd>{{ field.location.locationName }}</dd>

        <dt>{% trans %}Date{% endtrans %}</dt>
        <dd>{{ schedule.firstDate|club_date }}</dd>

        <dt>{% trans %}Time{% endtrans %}</dt>
        <dd>{{ schedule.firstDate|club_time }} - {{ schedule.endDate|club_time }}</dd>

        <dt>{% trans %}Field{% endtrans %}</dt>
        <dd>{{ field.name }}</dd>

        <dt>{% trans %}Team{% endtrans %}</dt>
        <dd>{{ schedule.teamCategory.teamName }}</dd>

        <dt>{% trans %}Attends{% endtrans %}</dt>
        <dd>{{ schedule.users|length }} / {{ schedule.maxAttend }}</dd>

    </dl>

    {% if field.information %}
      <h3>{% trans %}Information{% endtrans %}</h3>
      <p>{{ field.information }}</p>
    {% endif %}

    {% if public_teamlist and schedule.users|length > 0 %}
        <h3>{% trans %}Attends{% endtrans %}</h3>
        <dl class="dl-horizontal">
        {% for user in schedule.users %}
            <dd>{{ user.user.name }}</dd>
        {% endfor %}
        </dl>
    {% endif %}

</div>

{% include "ClubBookingBundle:Booking:attend_team.html.twig" %}
{% endblock %}
