<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/time.png') }}" /> {% trans %}Your bookings{% endtrans %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Time{% endtrans %}</th>
      <th>{% trans %}Users{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for booking in bookings %}
    <tr>
      <td>{{ booking.firstDate|club_date('full') }}</td>
      <td>{{ booking.firstDate|club_time }} - {{ booking.endDate|club_time }}</td>

      {% if booking.guest %}
      <td>{{ booking.user }} - {% trans %}Guest{% endtrans %}</td>
      {% else %}
      <td>{{ booking.user }} - {{ booking.firstPartner }}</td>
      {% endif %}
      <td>
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_booking_booking_viewbooking', { 'booking_id':booking.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}You have no coming bookings.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

