<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Team one{% endtrans %}</th>
      <th style="width: 150px; text-align: center;">{% trans %}Score{% endtrans %}</th>
      <th>{% trans %}Team two{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
    {% for match in game.matches %}
    <tr>
      <td>{{ match.createdAt|club_datetime }}</td>
      <td>{{ match.teamOne.teamName }}</td>
      <td style="text-align: center;">

        {% if match.winner == match.teamOne %}<img src="{{ asset('bundles/clublayout/images/icons/16x16/award_star_gold_1.png') }}" />{% endif %}
        {{ match.displayResult }}
        {% if match.winner == match.teamTwo %}<img src="{{ asset('bundles/clublayout/images/icons/16x16/award_star_gold_1.png') }}" />{% endif %}

      </td>
      <td>{{ match.teamTwo.teamName }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">{% trans %}No matches has been played.{% endtrans %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
