{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

{% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'search_field':'#form_user0','input_id':'#form_user0_id','url': 'api/matches/search/' ~ league.id } %}

{% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'search_field':'#form_user1','input_id':'#form_user1_id','url': 'api/matches/search/' ~ league.id } %}

<h2>{{ league.name }}</h2>
<form method="post" action="{{ path('club_match_leaguematch_new', {'league_id':league.id}) }}">

  <!-- Input Text -->
  <fieldset>
    <legend>{% trans %}Insert match{% endtrans %}</legend>

    <!-- Left column -->
    <div class="col50">
      <p class="nomt">
        <label for="inp-01">User:</label><br />
        {{ form_widget(form.user0, {'attr': {'class':'input-text'}}) }}<br />
        <span class="smaller low">Info: Insert name of first user.</span>
      </p>

      <p class="nomb">
        <label for="inp-02">User:</label><br />
        {{ form_widget(form.user1, {'attr': {'class':'input-text'}}) }}<br />
        <span class="smaller low">Info: Insert name of second user.</span>
      </p>
    </div> <!-- /col50 -->

    <!-- Right column -->
    <div class="col50 f-right">
      <p class="nomt">
        <label for="inp-04">Result:</label><br />
        {% if league.gameSet > 0 %}{{ form_widget(form.user0set0, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 1 %}{{ form_widget(form.user0set1, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 2 %}{{ form_widget(form.user0set2, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 3 %}{{ form_widget(form.user0set3, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 4 %}{{ form_widget(form.user0set4, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        <br /><span class="smaller low">Info: Insert match result for user.</span>
      </p>

      <p class="nomb">
        <label for="inp-06">Result:</label><br />
        {% if league.gameSet > 0 %}{{ form_widget(form.user1set0, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 1 %}{{ form_widget(form.user1set1, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 2 %}{{ form_widget(form.user1set2, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 3 %}{{ form_widget(form.user1set3, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        {% if league.gameSet > 4 %}{{ form_widget(form.user1set4, { 'attr': {'class':'input-text', 'style':'width: 25px'}}) }}{% endif %}
        <br /><span class="smaller low">Info: Insert match result for user.</span>
      </p>
    </div> <!-- /col50 -->

    <div class="fix"></div>
  </fieldset>

  {{ form_rest(form) }}

  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
</form>

{% endblock %}
