{% if menu|length > 0 %}
    {% for item in menu %}
<ul class="nav nav-sidebar">

    {% if item.header is defined %}
    <li>{% if item.image is defined %}<img src="{{ asset(item.image) }}" /> {% endif %}{{ item.header }}</li>
    {% else %}
    <li {% if item.active is defined %}class="active"{% endif %}><a href="{{ item.route }}">{{ item.name }}</a></li>
    {% endif %}

    {% if item.items is defined %}

    {% for subitem in item.items %}
    <li><a href="{{ subitem.route }}">{{ subitem.name }}</a></li>
    {% endfor %}

    {% endif %}

</ul>
{% endfor %}
{% endif %}
