{% if menu|length > 0 %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">

        {% for item in menu %}
        <li class="nav-header">{{ item.name }}</li>
        <li {% if item.active is defined %}class="active"{% endif %}><a href="{{ item.route }}">{{ item.name }}</a></li>

        {% if item.items is defined %}
        {% for subitem in item.items %}
        <li><a href="{{ subitem.route }}">{{ subitem.name }}</a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </ul>
</div><!--/.well -->
{% endif %}
