{% if menu|length > 0 %}
<div class="well sidebar-nav">
    <ul class="nav nav-list">

        {% for item in menu %}

            {% if item.header is defined %}
                <li class="nav-header">{% if item.image is defined %}<img src="{{ asset(item.image) }}" /> {% endif %}{{ item.header }}</li>
            {% else %}
                <li {% if item.active is defined %}class="active"{% endif %}><a href="{{ item.route }}">{{ item.name }}</a></li>
            {% endif %}

            {% if item.items is defined %}

                {% for subitem in item.items %}
                    <li><a href="{{ subitem.route }}">{{ subitem.name }}</a></li>
                {% endfor %}

            {% endif %}

            <li class="divider"></li>
        {% endfor %}

    </ul>
</div><!--/.well -->
{% endif %}
