{% if menu|length > 0 %}
<ul class="nav nav-sidebar">
    {% for item in menu %}

    {% if item.header is defined %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            {% if item.image is defined %}<img src="{{ asset(item.image) }}" /> {% endif %}
            {{ item.header }}
        </a>
    {% else %}
    <li {% if item.active is defined %}class="active"{% endif %}><a href="{{ item.route }}">{{ item.name }}</a>
    {% endif %}

    {% if item.items is defined %}

        <ul class="dropdown-menu" role="menu">
            {% for subitem in item.items %}
            <li><a href="{{ subitem.route }}">{{ subitem.name }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}
    </li>

    {% endfor %}
</ul>
{% endif %}
