<h2>Pause</h2>

{% set pause_left = subscription.getStartPauses %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Return date{% endtrans %}</th>
      <th>{% trans %}Remaining pause{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ subscription.createdAt|club_datetime }}</td>
      <td>{{ subscription.createdAt|club_datetime }}</td>
      <td>{{ pause_left }}</td>
    </tr>
    {% for log in subscription.subscriptionPauses %}
    {% set pause_left = pause_left-1 %}
    <tr>
      <td>{{ log.startDate|club_datetime }}</td>
      <td>{% if log.expireDate == '' %}-{% else %}{{ log.expireDate|club_datetime }}{% endif %}</td>
      <td>{{ pause_left }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


