{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Subscription{% endtrans %}</h2>

<table class="table">
  <tbody>
    <tr>
      <th>{% trans %}Day bought{% endtrans %}</th>
      <td>{{ subscription.order.createdAt|club_datetime }}</td>
    </tr>
    <tr>
      <th>{% trans %}Price{% endtrans %}</th>
      <td>{{ subscription.orderProduct.price|club_price }}</td>
    </tr>
    <tr>
      <th>{% trans %}Period{% endtrans %}</th>
      <td>{{ subscription.startDate|club_datetime }} - {% if subscription.expireDate == '' %}{% trans %}Never{% endtrans %}{% else %}{{ subscription.expireDate|club_datetime }}{% endif %}</td>
    </tr>
    <tr>
      <th>{% trans %}Auto renewal{% endtrans %}</th>
      <td>
        {% if subscription.hasAttribute('auto_renewal') %}{% trans %}This subscription will automatically be renewed.{% endtrans %}
        {% else %}{% trans %}This subscription will not be automatically renewed.{% endtrans %}{% endif %}
      </td>
    </tr>
    <tr>
      <th>{% trans %}Booking{% endtrans %}</th>
      <td>
        {% if subscription.hasAttribute('booking') %}{% trans %}This subscription allow you to use bookings.{% endtrans %}
        {% else %}{% trans %}This subscription does not allow you to use bookings.{% endtrans %}{% endif %}
      </td>
    </tr>
    <tr>
      <th>{% trans %}Team{% endtrans %}</th>
      <td>
        {% if subscription.hasAttribute('team') %}{% trans %}This subscription allow you to use teams.{% endtrans %}
        {% else %}{% trans %}This subscription does not allow you to use teams.{% endtrans %}{% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% if subscription.type == 'ticket' %}
  {% include "ClubShopBundle:Subscription:tickets_table.html.twig" %}
{% endif %}

{% if subscription.hasAttribute('allowed_pauses') %}
  {% include "ClubShopBundle:Subscription:pause_table.html.twig" %}
{% endif %}

{% if subscription.location|length > 0 %}
  {% include "ClubShopBundle:Subscription:location_table.html.twig" %}
{% endif %}

<fieldset>
  <legend>{% trans %}Cancel subscription{% endtrans %}</legend>

  <p>{% trans %}Click here to cancel this subscription.{% endtrans %}</p>
  <form method="post" action="{{ path('club_shop_subscription_stop', {'id':subscription.id}) }}">
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" with {'button':'Cancel subscription'|trans} %}
  </form>
</fieldset>

{% endblock %}
