<h2>Subscriptions</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Name</th>
      <th>Start date</th>
      <th>Expire date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="6">&#160;</th>
    </tr>
  </tfoot>
  <tbody>
  {% for subscription in user.subscriptions %}
    <tr>
      <td>{{ subscription.id }}</td>
      <td>{{ subscription.type|capitalize }}</td>
      <td>{{ subscription.user.profile.firstName }} {{ subscription.user.profile.lastName }}</td>
      <td>{{ subscription.startDate|date('Y-m-d') }}</td>
      <td>{{ subscription.expireDate|date('Y-m-d') }}</td>
      <td>
        {% if subscription.isActive %}
        <a href="{{ path('shop_subscription_pause', {'id':subscription.id}) }}">Pause</a>
        {% else %}
        <a href="{{ path('shop_subscription_resume', {'id':subscription.id}) }}">Resume</a>
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="6">There is no subscriptions for this user.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

