<h2>Subscriptions</h2>

<table>
  <thead>
    <tr>
      <th>Active</th>
      <th>Type</th>
      <th>Name</th>
      <th>Start date</th>
      <th>Expire date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="6">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for subscription in user.subscriptions %}
    <tr>
      <td>{% include "ClubLayoutBundle:Default:boolean.html.twig" with {'flag':subscription.isActive} %}</td>
      <td>{{ subscription.type|capitalize }}</td>
      <td>{{ subscription.user.profile.firstName }} {{ subscription.user.profile.lastName }}</td>
      <td>{{ subscription.startDate|date('Y-m-d') }}</td>
      {% if subscription.expireDate == '' %}
      <td>Never</td>
      {% else %}
      <td>{{ subscription.expireDate|date('Y-m-d') }}</td>
      {% endif %}
      <td>
        {% if subscription.isActive %}
          {% include "ClubLayoutBundle:Default:pause_link.html.twig" with {'url':path('shop_subscription_pause', {'id':subscription.id})} %}
        {% else %}
          {% include "ClubLayoutBundle:Default:resume_link.html.twig" with {'url':path('shop_subscription_resume', {'id':subscription.id})} %}
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="6">There is no subscriptions for this user.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

