<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Type{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Start date{% endtrans %}</th>
      <th>{% trans %}Expire date{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for subscription in subscriptions %}
    <tr class="{% if subscription.active %}success{% else %}error{% endif %}">
      <td>{{ subscription.type|capitalize }}</td>
      <td>{{ subscription.user.profile.firstName }} {{ subscription.user.profile.lastName }}</td>
      <td>{{ subscription.startDate|club_datetime }}</td>
      {% if subscription.expireDate == '' %}
      <td>{% trans %}Never{% endtrans %}</td>
      {% else %}
      <td>{{ subscription.expireDate|club_datetime }}</td>
      {% endif %}
      <td>
        {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':path('club_shop_subscription_show', {'id':subscription.id})} %}

        {% if subscription.paused %}
          {% include "ClubLayoutBundle:Default:resume_link.html.twig" with {'url':path('shop_subscription_resume', {'id':subscription.id})} %}
        {% elseif subscription.active and not subscription.expireDate == '' %}
          {% include "ClubLayoutBundle:Default:pause_link.html.twig" with {'url':path('shop_subscription_pause', {'id':subscription.id})} %}
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="5">{% trans %}You do not have any subscriptions.{% endtrans %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
