    <tr>
      <td>#{{ pos }}</td>
      <td>{{ team.team.teamName }}</td>
      <td>{{ team.played }}</td>
      <td>{{ team.won }}</td>
      <td>{{ team.lost }}</td>
      <td>{{ team.percentWon }}%</td>
      <td>{{ team.point }}</td>
    </tr>

