{% extends "::base.html.twig" %}

{% block body %}

{{ app.session.flash('notice') }}

<form method="post" action="{{ path('role_batch') }}">
<table>
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Id</th>
      <th>Username</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="5">x Results</th>
    </tr>
  </tfoot>
  <tbody>
  {% for role in roles %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ role.id }}</td>
      <td>{{ role.roleName }}</td>
      <td><ul>
        <li><a href="{{ path('role_edit', { 'id':role.id }) }}">Edit</a></li>
        <li><a href="{{ path('role_delete', { 'id':role.id }) }}">Delete</a></li>
      </ul></td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">There are no roles at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<ul>
  <li><select name="batch_action">
    <option value="batchDelete">Delete</option>
  </select>
  <input type="submit" /></li>
  <li><a href="{{ path('role_new') }}">New</a></li>
</ul>
</form>
{% endblock %}
