{% extends "ClubTournamentBundle::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/clubtournament/css/bracket.css') }}" />
{% endblock %}

{% block body %}
<div id="bracket_base">
  <div id="bracket_body">

    {% for round in tournament %}
    <div class='round' id='r{{ round.round }}'>
      <div class='header'>{{ round.name }}</div>

      {% if round.round == tournament|length %}
      <div class='champ'><p>{{ round.winner.name }} </p></div>
      {% else %}

      {% set top = true %}
      {% for match in round.matches %}

      {% if top %}
      <div class='top'><p>{{ match.0.name }} {% if match.0.result != '' %}<span class="score">{{ match.0.result }}</span>{% endif %}</p></div>
      <div class='odd'><p>{{ match.1.name }} {% if match.1.result != '' %}<span class="score">{{ match.1.result }}</span>{% endif %}</p></div>
      {% set top = false %}

      {% elseif match.blank is defined %}
      <div class='blank'><p></p></div>

      {% else %}
      <div><p>{{ match.0.name }} {% if match.0.result %}<span class="score">{{ match.0.result }}</span>{% endif %}</p></div>
      <div class='odd'><p>{{ match.1.name }} {% if match.1.result %}<span class="score">{{ match.1.result }}</span>{% endif %}</p></div>
      {% endif %}

      {% endfor %}
      {% endif %}

    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
