{% extends "ClubTeamBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Team{% endtrans %}</h2>

{% if schedules|length == 0 %}
<p class="msg info">{% trans %}There are no teams.{% endtrans %}</p>
{% else %}
<table class="table">
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% set prev_date = '' %}
  {% set date = '' %}
  {% for schedule in schedules %}
    {% set prev_date = date %}
    {% set date = schedule.firstDate|club_date('full') %}

    {% if date != prev_date %}
    <tr>
      <th colspan="4">{{ date }}</th>
    </tr>
    {% endif %}
    <tr>
      <td>{{ schedule.firstDate|date('H:i') }} - {{ schedule.endDate|date('H:i') }}</td>
      <td>{{ schedule.teamCategory.teamName }} ( {{ schedule.users|length }}/{{ schedule.maxAttend }} )</td>
      <td>{{ schedule.location.locationName }}</td>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <td>
        {% if user.attend(schedule) %}
          {% include "ClubLayoutBundle:Default:unattend_link.html.twig" with {'url':path('club_team_team_unattend', { 'id':schedule.id })} %}
        {% else %}
          {% include "ClubLayoutBundle:Default:attend_link.html.twig" with {'url':path('club_team_team_attend', { 'id':schedule.id })} %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endif %}
{% endblock %}
