  {{ form_row(form.period_start) }}
  <span class="smaller low">{% trans %}Info: When is the first date the plan will be valid from?{% endtrans %}</span>

  {{ form_row(form.period_end) }}
  <span class="smaller low">{% trans %}Info: When is the last day the plan will be valid?{% endtrans %}</span>

  {{ form_row(form.day) }}
  <span class="smaller low">{% trans %}Info: What day on the week should the plan be booked?{% endtrans %}</span>

  {{ form_row(form.first_time) }}
  <span class="smaller low">{% trans %}Info: What time on the day will the plan be valid from?{% endtrans %}</span>

  {{ form_row(form.end_time) }}
  <span class="smaller low">{% trans %}Info: What time on the day will the plan end?{% endtrans %}</span>

  {{ form_row(form.fields) }}
  <span class="smaller low">{% trans %}Info: What fields should be booked for the plan?{% endtrans %}</span>

  {{ form_rest(form) }}

  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

