<h2><img src="{{ asset('bundles/clublayout/images/icons/32x32/book.png') }}" /> {% trans %}Your teams{% endtrans %}</h2>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Team{% endtrans %}</th>
      <th>{% trans %}Date{% endtrans %}</th>
      <th>{% trans %}Time{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for schedule in schedules %}
    <tr>
      <td>{{ schedule.teamCategory.teamName }}</td>
      <td>{{ schedule.firstDate|club_date }}</td>
      <td>{{ schedule.firstDate|club_time }} - {{ schedule.endDate|club_time }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:unattend_link.html.twig" with {'url':path('club_team_team_unattend', {'id':schedule.id})} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}You have no coming teams.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

