<h2>Ticket coupons</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Tickets</th>
      <th>Start date</th>
      <th>Expire date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for ticket in user.ticketcoupons %}
    <tr>
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.user.profile.firstName }} {{ ticket.user.profile.lastName }}</td>
      <td>{{ ticket.ticket }}</td>
      <td>{{ ticket.startDate|date('Y-m-d') }}</td>
      <td>{{ ticket.expireDate|date('Y-m-d') }}</td>
      <td><a href="{{ path('club_shop_adminticketcoupon_expire', {'id':ticket.id}) }}">Cancel</a></td>
    </tr>
  {% else %}
    <tr>
      <td colspan="6">There is no tickets for this user.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

