{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
  <div class="navbar-inner">
    <form method="post" action="{{ path('club_user_member_search') }}" class="navbar-search pull-right">
      {{ form_widget(form.user, {'attr': {'class':'search-query','placeholder':'Search'|trans}}) }}
      {{ form_rest(form) }}
    </form>
  </div>
</div>
{% endblock %}

{% block body %}

{{ club_paginator() }}
<table class="table">
  <thead>
    <tr>
      <th width="150">{% trans %}Member number{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for user in paginator %}
    <tr>
      <td>{{ user.memberNumber }}</td>
      <td><a href="{{ path('club_user_member_show', {'id':user.id}) }}">{{ user.name }}</a></td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{{ club_paginator() }}

{% endblock %}
