{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Members{% endtrans %}</h2>

<!-- Actions -->
<form method="post" action="">
<div class="box-02 bottom box">
  <div class="f-right">
    <strong>Sort by:</strong>
    {{ form_widget(form.sort) }}
  </div> <!-- /f-right -->
  <strong>Search:</strong>
  {{ form_widget(form.query) }}
  <input type="submit" value="OK" />
</div> <!-- /box-02 -->
{{ form_rest(form) }}
</form>

<div class="fix" style="height: 10px;"></div>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Number{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="2">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td>{{ user.memberNumber }}</td>
      <td><a href="{{ path('club_user_member_show', {'id':user.id}) }}">{{ user.name }}</a></td>
    </tr>
  {% else %}
  <tr>
    <td colspan="2">{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
