{% extends "ClubUserBundle::base.html.twig" %}

{% block header  %}
<div class="page-header">
    <h1>{% trans %}Members{% endtrans %}</h1>
</div>
{% endblock %}

{% block body %}

{% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'search_field':'#query_query', 'input_id':'','url':'api/users/search'} %}

<div class="navbar">
  <div class="navbar-inner">
    <form class="navbar-search pull-right">
      <input type="text" class="search-query" placeholder="Search" id="">
    </form>
  </div>
</div>

<!-- Actions -->
<form method="post" action="">
<div class="box-02 bottom box">
  <div class="f-right">
    <strong>Sort by:</strong>
    {{ form_widget(form.sort, {'attr': {'class':'input-text'} }) }}
  </div> <!-- /f-right -->
  <strong>Search:</strong>
  {{ form_widget(form.query, {'attr': {'class':'input-text'} }) }}
  <input type="submit" value="OK" />
</div> <!-- /box-02 -->
{{ form_rest(form) }}
</form>

<div class="fix" style="height: 10px;"></div>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td>&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><a href="{{ path('club_user_member_show', {'id':user.id}) }}">{{ user.name }}</a></td>
    </tr>
  {% else %}
  <tr>
    <td>{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
