{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        {{ form_start(form, {'attr':{'class':'navbar-form navbar-right','role':'search'}}) }}
            <div class="form-group">
                <div id="scrollable-dropdown-menu">
                    {{ form_widget(form.user, {'attr': {'class':'form-control search-query','placeholder':'Search'|trans}}) }}
                </div>
            </div>
            {{ form_widget(form.search) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block body %}

{{ club_paginator() }}
<table class="table">
    <thead>
        <tr>
            <th width="150">{% trans %}Member number{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in paginator %}
    <tr>
        <td>{{ user.memberNumber }}</td>
        <td><a href="{{ path('club_user_member_show', {'id':user.id}) }}">{{ user.name }}</a></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="2">{% trans %}There are no users in the system.{% endtrans %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{ club_paginator() }}

{% endblock %}
