{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/group.png') }}" /> {% trans %}Members{% endtrans %}</h1>
</div>
{% endblock %}

{% block pagenav %}
<div class="navbar">
  <div class="navbar-inner">
    <form method="post" action="{{ path('club_user_member_index') }}" class="navbar-search pull-right">
      {{ form_widget(form.user, {'v':'name', 'attr': {'class':'search-query','placeholder':'Search'|trans}}) }}
      {{ form_rest(form) }}
    </form>
  </div>
</div>
{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td>&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><a href="{{ path('club_user_member_show', {'id':user.id}) }}">{{ user.name }}</a></td>
    </tr>
  {% else %}
  <tr>
    <td>{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
