{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
<div class="page-header">
    <h1><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/user.png') }}" /> {{ user.name }} ({{ user.memberNumber }})</h1>
</div>
{% endblock %}

{% block body %}

<table class="table table-bordered">
{% if user.profile.profileEmail %}
    <tr>
        <th>{% trans %}Email{% endtrans %}</th>
        <td>{{ user.profile.profileEmail.emailAddress }}</td>
    </tr>
    {% endif %}
    {% if user.profile.profilePhone %}
    <tr>
        <th>{% trans %}Phone{% endtrans %}</th>
        <td>{{ user.profile.profilePhone.phoneNumber }}</td>
    </tr>
    {% endif %}
</table>

<h1>{% trans %}Activities{% endtrans %}</h1>
<table class="table">
    <tr>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
        <th>{% trans %}Message{% endtrans %}</th>
        <th>{% trans %}Action{% endtrans %}</th>
    </tr>
    {% for item in activities %}

    <tr>
        <td><img src="{{ asset(item.type) }}" /></td>
        <td>{{ item.date|club_datetime }}</td>
        <td>{{ item.message }}</td>
        <td>{% if item.link is defined %}
            {% include "ClubLayoutBundle:Default:show_link.html.twig" with {'url':item.link} %}
        {% endif %}</td>
    </tr>
    {% else %}

    <tr>
        <td colspan="3">{% trans %}The user has no activities.{% endtrans %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
