{% extends "ClubUserBundle::base.html.twig" %}

{% block header %}
{% if user.profile.gender == 'male' %}
    {% set image = 'bundles/clublayout/images/icons/32x32/user.png' %}
{% else %}
    {% set image = 'bundles/clublayout/images/icons/32x32/user_female.png' %}
{% endif %}
<h1 class="page-header"><img class="img-polaroid" src="{{ asset(image) }}" /> {{ user.name }} ({{ user.memberNumber }})</h1>
{% endblock %}

{% block body %}

<dl class="dl-horizontal">
{% if user.profile.profileEmail %}
        <dt>{% trans %}Email{% endtrans %}</dt>
        <dd>{{ user.profile.profileEmail.emailAddress }}</dd>
    {% endif %}
    {% if user.profile.profilePhone %}
        <dt>{% trans %}Phone{% endtrans %}</dt>
        <dd>{{ user.profile.profilePhone.phoneNumber }}</dd>
    {% endif %}
</dl>

<h1>{% trans %}Activities{% endtrans %}</h1>
{% include "ClubUserBundle:Dashboard:activities_table.html.twig" %}

{% endblock %}
