{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_shop_admincoupon_new') }}" class="btn-create"><span>{% trans %}Create coupon{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Coupon{% endtrans %}</th>
      <th>{% trans %}Value{% endtrans %}</th>
      <th>{% trans %}Max usage{% endtrans %}</th>
      <th>{% trans %}Expires at{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="6">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for coupon in coupons %}
    <tr>
      <td>{{ coupon.couponKey }}</td>
      <td>{{ coupon.value }}</td>
      <td>{{ coupon.maxUsage }}</td>
      <td>{{ coupon.expireAt|club_datetime }}</td>
      <td>{{ coupon.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_shop_admincoupon_edit', { 'id':coupon.id })} %}
        {% include "ClubLayoutBundle:Default:expire_link.html.twig" with {'url':path('club_shop_admincoupon_expire', { 'id':coupon.id })} %}
        {% include "ClubLayoutBundle:Default:log_link.html.twig" with {'url':path('club_shop_admincoupon_log', { 'id':coupon.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="6">{% trans %}There are no coupons.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
