<form method="post" action="{{ path }}">
  <fieldset>
    <legend>{% trans %}Repetition Daily{% endtrans %}</legend>
    {{ form_widget(form_daily) }}

    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

<form method="post" action="{{ path }}">
  <fieldset>
    <legend>{% trans %}Repetition Weekly{% endtrans %}</legend>
    {{ form_widget(form_weekly) }}

    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

<form method="post" action="{{ path }}">
  <fieldset>
    <legend>{% trans %}Repetition Monthly{% endtrans %}</legend>
    {{ form_widget(form_monthly) }}

    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

<form method="post" action="{{ path }}">
  <fieldset>
    <legend>{% trans %}Repetition Yearly{% endtrans %}</legend>
    {{ form_widget(form_yearly) }}

    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

