{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_shop_adminspecial_new') }}" class="btn-create"><span>{% trans %}Create special{% endtrans %}</span></a></p>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Product{% endtrans %}</th>
      <th>{% trans %}Price{% endtrans %}</th>
      <th>{% trans %}Start date{% endtrans %}</th>
      <th>{% trans %}Expire date{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="5">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for special in specials %}
    <tr>
      <td>{{ special.product }}</td>
      <td>{{ special.price }}</td>
      <td>{{ special.startDate|club_datetime }}</td>
      <td>{{ special.expireDate|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_shop_adminspecial_edit', { 'id':special.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_shop_adminspecial_delete', { 'id':special.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no special prices.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
