{% extends "ClubRankingBundle::base.html.twig" %}

{% block header %}<div class="page-header"><h1>{% trans with {'%name%':ranking.name} %}Ranking, %name%{% endtrans %}</h1></div>{% endblock %}

{% block body %}
{% include "ClubRankingBundle:Ranking:match_button.html.twig" %}

<h4>{% trans %}Ranking info{% endtrans %}</h4>
<table class="table">
  <tbody>
    <tr>
      <th>{% trans %}Period{% endtrans %}</th>
      <td>{{ ranking.startDate|club_date }} - {{ ranking.endDate|club_date }}</td>
    </tr>
    <tr>
      <th>{% trans %}Ranking type{% endtrans %}</th>
      {% if ranking.inviteOnly %}
      <td>{% trans %}Invite only{% endtrans %}</td>
      {% else %}
      <td>{% trans %}Open for all{% endtrans %}</td>
      {% endif %}
    </tr>
    <tr>
      <th>{% trans %}Sets per match{% endtrans %}</th>
      <td>{{ ranking.gameSet }}</td>
    </tr>
    <tr>
      <th>{% trans %}Point for victory{% endtrans %}</th>
      <td>{{ ranking.rule.pointWon }}</td>
    </tr>
    <tr>
      <th>{% trans %}Point for defeat{% endtrans %}</th>
      <td>{{ ranking.rule.pointLost }}</td>
    </tr>
    <tr>
      <th>{% trans %}Matches with same opponent{% endtrans %}</th>
      <td>{{ ranking.rule.samePlayer }}</td>
    </tr>
  </tbody>
</table>

{% render "ClubRankingBundle:Ranking:Top" with {'id':ranking.id, 'limit':50} %}
{% include "ClubMatchBundle:Match:recent_matches.html.twig" %}

{% endblock %}
