{% extends "ClubRankingBundle::base.html.twig" %}

{% block header %}<div class="page-header"><h1>{% trans with {'%name%':ranking.name} %}Ranking, %name%{% endtrans %}</h1></div>{% endblock %}

{% block body %}
{% include "ClubRankingBundle:Ranking:match_button.html.twig" %}

<h4>{% trans %}Ranking info{% endtrans %}</h4>
<dl class="dl-horizontal">
      <dt>{% trans %}Period{% endtrans %}</dt>
      <dd>{{ ranking.startDate|club_date }} - {{ ranking.endDate|club_date }}</dd>
      <dt>{% trans %}Ranking type{% endtrans %}</dt>
      {% if ranking.inviteOnly %}
      <dd>{% trans %}Invite only{% endtrans %}</dd>
      {% else %}
      <dd>{% trans %}Open for all{% endtrans %}</dd>
      {% endif %}
      <dt>{% trans %}Sets per match{% endtrans %}</dt>
      <dd>{{ ranking.gameSet }}</dd>
      <dt>{% trans %}Point for victory{% endtrans %}</dt>
      <dd>{{ ranking.rule.pointWon }}</dd>
      <dt>{% trans %}Point for defeat{% endtrans %}</dt>
      <dd>{{ ranking.rule.pointLost }}</dd>
      <dt>{% trans %}Matches with same opponent{% endtrans %}</dt>
      <dd>{{ ranking.rule.samePlayer }}</dd>
</dl>

{% render(controller("ClubRankingBundle:Ranking:Top", {'id':ranking.id, 'limit':50})) %}
{% include "ClubMatchBundle:Match:recent_matches.html.twig" %}

{% endblock %}
