{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}

<p class="box"><a href="{{ path('club_match_adminleague_index') }}" class="btn-create"><span>{% trans %}Back to league{% endtrans %}</span></a></p>

<h2>{% trans %}Add players to league{% endtrans %}</h2>

{% include "ClubLayoutBundle:Default:ajax_user.html.twig" with {'search_field':'#form_user','input_id':'#form_user_id', 'url':'api/users/search'} %}
<form method="post" action="{{ path('club_match_adminleague_usersadd', {'id':league.id}) }}">
  <fieldset>
    <legend>{% trans %}Add player{% endtrans %}</legend>

    <p>{% trans %}Here you can add players for this tournament.{% endtrans %}</p>
    {{ form_widget(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Number{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}League{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in league.users %}
    <tr>
      <td>{{ user.memberNumber }}</td>
      <td>{{ user.name }}</td>
      <td>{{ league.name }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_match_adminleague_usersdelete', { 'id':league.id, 'user_id':user.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no users in the league.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
