{% extends "ClubRankingBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_ranking_adminranking_index') }}">{% trans %}Back to ranking{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<h2>{% trans %}Add players to ranking{% endtrans %}</h2>

<form method="post" action="{{ path('club_ranking_adminranking_usersadd', {'id':ranking.id}) }}" class="form-horizontal">
  <fieldset>
    <legend>{% trans %}Add player{% endtrans %}</legend>

    <p>{% trans %}Here you can add players for this tournament.{% endtrans %}</p>
    {{ form_widget(form) }}
    {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}
  </fieldset>
</form>

<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Number{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Ranking{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for user in ranking.users %}
    <tr>
      <td>{{ user.memberNumber }}</td>
      <td>{{ user.name }}</td>
      <td>{{ ranking.name }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_ranking_adminranking_usersdelete', { 'id':ranking.id, 'user_id':user.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">{% trans %}There are no users in the ranking.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
