  <fieldset>
    <legend>{% trans %}Password{% endtrans %}</legend>

    <p>{{ form_row(form.password) }}</p>
  </fieldset>

  <fieldset>
    <legend>{% trans %}Personal Information{% endtrans %}</legend>

    {{ form_row(form.member_number) }}
    {{ form_row(form.profile.first_name) }}
    {{ form_row(form.profile.last_name) }}
    {{ form_row(form.profile.gender) }}
    {{ form_row(form.profile.day_of_birth) }}
  </fieldset>

  <fieldset>
    <legend>{% trans %}Address Information{% endtrans %}</legend>

    {{ form_row(form.profile.profile_address.street) }}
    {{ form_row(form.profile.profile_address.postal_code) }}
    {{ form_row(form.profile.profile_address.city) }}
    {{ form_row(form.profile.profile_address.country) }}
  </fieldset>

  <fieldset>
    <legend>{% trans %}Email Information{% endtrans %}</legend>

    {% for email in form.profile.profile_emails %}
    <p>
      {{ form_label(email.email_address) }}<br />
      {{ form_widget(email.contact_type, {'attr': {'class':'input-text'}}) }}
      {{ form_widget(email.email_address, {'attr': {'class':'input-text'}}) }}
    </p>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>{% trans %}Phone Information{% endtrans %}</legend>

    {% for phone in form.profile.profile_phones %}
    <p>
      {{ form_label(phone.phone_number) }}<br />
      {{ form_widget(phone.contact_type, {'attr': {'class':'input-text'}}) }}
      {{ form_widget(phone.phone_number, {'attr': {'class':'input-text'}}) }}
    </p>
    {% endfor %}
  </fieldset>

  {{ form_row(form._token) }}
  {% include "ClubLayoutBundle:Default:submit_button.html.twig" %}

