{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<p class="box">
  <a href="{{ path('admin_user_new') }}" class="btn-create"><span>{% trans %}Create user{% endtrans %}</span></a>
</p>

{% include "ClubLayoutBundle:Default:paginator.html.twig" %}

<div id="user_search" style="float: right;">
  <fieldset>
    <legend>Search</legend>
    {% render "ClubUserBundle:Filter:getFilter" %}
  </fieldset>
</div>

<div>
[ <a href="{{ path('club_user_adminuser_csv') }}">{% trans %}Export CSV{% endtrans %}</a> ]
<form method="post" action="{{ path('admin_user_batch') }}">
<table class="style">
  <thead>
    <tr>
      <th>[x]</th>

      {% include "ClubUserBundle:AdminUser:field.html.twig" with {'field_name':'member_number', 'field_text':'Number'|trans} %}
      {% include "ClubUserBundle:AdminUser:field.html.twig" with {'field_name':'first_name', 'field_text':'Name'|trans} %}
      {% include "ClubUserBundle:AdminUser:field.html.twig" with {'field_name':'created_at', 'field_text':'Created at'|trans} %}
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7" class="arrow-01">
        <select name="" class="input-text">
          <option value="">{% trans %}Ban selected{% endtrans %}</option>
        </select>&nbsp;<input type="submit" value="{% trans %}OK{% endtrans %}" />
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><input type="checkbox" name="ids[{{ user.id }}]"/></td>
      <td>{{ user.memberNumber }}</td>
      <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>
      <td>{{ user.createdAt|date("Y-m-d") }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_user_edit', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:ban_link.html.twig" with {'url':path('admin_user_ban', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:note_link.html.twig" with {'url':path('admin_user_note', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:shop_as_link.html.twig" with {'url':path('club_user_adminuser_shop', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:checkin_link.html.twig" with {'url':path('club_checkin_admincheckin_checkin', { 'user_id':user.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</form>

{% include "ClubLayoutBundle:Default:paginator.html.twig" %}

{% endblock %}
