{% extends "ClubUserBundle::base.html.twig" %}

{% block javascripts %}
<script>
$(document).ready(function() {
  $('#select_all').click(function() {
    if ($('#select_all').attr('checked')) {
      $('.user_checklist').attr('checked', true);
    } else {
      $('.user_checklist').attr('checked', false);
    }
  });
});
</script>
{% endblock %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('admin_user_new') }}">{% trans %}Create user{% endtrans %}</a></li>
            <li><a href="{{ path('club_user_adminuserimport_index') }}">{% trans %}Import users{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}

<div id="user_search" style="float: right;">
  <fieldset>
    <legend>Search</legend>
    {% render "ClubUserBundle:Filter:getFilter" %}
  </fieldset>
</div>

<div>
[ <a href="{{ path('club_user_adminuser_csv') }}">{% trans %}Export CSV{% endtrans %}</a> ]
<form method="post" action="{{ path('admin_user_batch') }}">
<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" id="select_all" /></th>

      {% include "ClubUserBundle:AdminUser:field.html.twig" with {'field_name':'member_number', 'field_text':'Number'|trans} %}
      {% include "ClubUserBundle:AdminUser:field.html.twig" with {'field_name':'first_name', 'field_text':'Name'|trans} %}
      <th>{% trans %}Phone{% endtrans %}</th>
      <th>{% trans %}Email{% endtrans %}</th>
      <th class="action">{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7" class="arrow-01">
        {{ form_widget(form.batch, {'attr': {'class':'input-text' }}) }}&nbsp;<input type="submit" value="{% trans %}OK{% endtrans %}" class="input-submit-02" />
        {{ form_rest(form) }}
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for user in users %}
    <tr>
      <td><input type="checkbox" class="user_checklist" name="ids[{{ user.id }}]"/></td>
      <td>{{ user.memberNumber }}</td>
      <td><a href="{{ path('admin_user_edit', {'id':user.id}) }}">{{ user.profile.firstName }} {{ user.profile.lastName }}</a></td>
      <td>{% if user.profile.profilePhone %}{{ user.profile.profilePhone.phoneNumber }}{% endif %}</td>
      <td>{% if user.profile.profileEmail %}{{ user.profile.profileEmail.emailAddress }}{% endif %}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_user_edit', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:note_link.html.twig" with {'url':path('admin_user_note', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:shop_as_link.html.twig" with {'url':path('club_user_adminuser_shop', { 'id':user.id })} %}
        {% include "ClubLayoutBundle:Default:checkin_link.html.twig" with {'url':path('club_checkin_admincheckin_checkin', { 'user_id':user.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="7">{% trans %}There are no users in the system.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</form>

{% include "ClubPaginatorBundle:Paginator:paginator.html.twig" %}

{% endblock %}
