<div class="paginator">
    <form id= "paginator" name="paginator" method="get" action="#" >
        <label for="limit">Items to show on the page: </label>
        <select name="limit" id="limit" onchange="javascript:document.forms.paginator.submit()">
            {% for opt in paginator.options%}
                {% if opt > 0 %}
            <option value="{{opt}}" {% if paginator.limit == opt %}selected {% endif %}>{{opt}}</option>
                {% endif %}
            {% endfor %}
        <option value="0" {% if paginator.limit==0 %}selected{% endif %}>All</option>
        </select>
    </form>
    Go to page:<br />
    <ul>
        {% for i in 1..paginator.numpages %}
            {% if i==paginator.currentpage %}
            <li><a class="active" href="{{paginator.currentUrl}}?limit={{paginator.limit}}&amp;page={{i}}">{{i}}</a></li>
            {% else %}
            <li><a href="{{paginator.currentUrl}}?limit={{paginator.limit}}&amp;page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>