<h2>Subscriptions</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Start date</th>
      <th>Expire date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for subscription in user.subscriptions %}
    <tr>
      <td>{{ subscription.id }}</td>
      <td>{{ subscription.user.profile.firstName }} {{ subscription.user.profile.lastName }}</td>
      <td>{{ subscription.startDate|date('Y-m-d') }}</td>
      <td>{{ subscription.expireDate|date('Y-m-d') }}</td>
      <td><ul>
        <li><a href="{{ path('admin_user_subscription_expire', {'id': subscription.id}) }}">Cancel</a></li>
        <li><a href="#">Pause</a></li>
      </ul></td>
    </tr>
  {% else %}
    <tr>
      <td colspan="5">There is no subscriptions for this user.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

