{{ form_start(form, {'attr':{'novalidate':'true'}}) }}

{{ form_row(form.product_name) }}
{{ form_row(form.description) }}
{{ form_row(form.price) }}
{{ form_row(form.priority) }}
{{ form_row(form.quantity) }}
{{ form_row(form.categories) }}
{{ form_row(form.account_number) }}

{% if form.image is defined %}
{{ form_row(form.image.file, {'label':'Image'}) }}
{% else %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="{{ asset(product.image.webPath) }}" target="_open"><img src="{{ asset(product.image.webPath) }}" width="200" /></a>
            <div class="caption">
                <h3>Current image</h3>

                <p><a onclick="return confirm('{% trans %}Are you sure?{% endtrans %}')" href="{{ path('admin_shop_product_image_remove', {'id':product.id}) }}" class="btn btn-danger">{% trans %}Delete{% endtrans %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="form-actions">
    {{ form_widget(form.save, {'label':'Save changes'|trans}) }}
</div>
{{ form_end(form) }}
