{% extends "ClubNewsBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('club_news_adminticker_new') }}">{% trans %}Create ticker{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<p>{% trans %}All messages here will only appear in the bottom of the kiosk client.{% endtrans %}</p>
<table class="table">
  <thead>
    <tr>
      <th>{% trans %}Ticker{% endtrans %}</th>
      <th>{% trans %}Author{% endtrans %}</th>
      <th>{% trans %}Period{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for ticker in tickers %}
    <tr>
      <td>{{ ticker.message }}</td>
      <td>{{ ticker.user.name }}</td>
      <td>{{ ticker.startDate|club_datetime }} - {{ ticker.endDate|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_news_adminticker_edit', { 'id':ticker.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_news_adminticker_delete', { 'id':ticker.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no tickers.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
