{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Order{% endtrans %}</h2>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Order number{% endtrans %}</th>
      <th>{% trans %}User{% endtrans %}</th>
      <th>{% trans %}Price{% endtrans %}</th>
      <th>{% trans %}Status{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Updated at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="7">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for order in orders %}
    <tr>
      <td>{{ order.orderNumber }}</td>
      <td>{{ order.user.profile.firstName }} {{ order.user.profile.lastName }}</td>
      <td>{{ order.price }}</td>
      <td>{{ order.orderStatus.statusName }}</td>
      <td>{{ order.createdAt|club_datetime }}</td>
      <td>{{ order.updatedAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('shop_order_edit', { 'id':order.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="7">{% trans %}You have not completed any orders.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
