{% extends "ClubWelcomeBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_welcome_adminblog_new') }}" class="btn-create"><span>{% trans %}Create post{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Author{% endtrans %}</th>
      <th>{% trans %}Title{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Updated at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="5">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for blog in blogs %}
    <tr>
      <td>{{ blog.user.name }}</td>
      <td>{{ blog.title }}</td>
      <td>{{ blog.createdAt|club_datetime }}</td>
      <td>{{ blog.updatedAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_welcome_adminblog_edit', { 'id':blog.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_welcome_adminblog_delete', { 'id':blog.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="5">{% trans %}There are no posts.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
