{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('admin_location_new') }}" class="btn-create"><span>Create location</span></a></p>

<p>Here is a list of all locations, they are build in a tree structure to illustrate how they are child and parents of each other.</p>
<p>If you want to change some configuration, you can change it for all child elements by change the root element configurations.</p>

<ul>
  <li>{{ root }}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':root.id})} %}

    <ul>{% for location1 in root.childs %}
      <li>{{ location1.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location1.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location1.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location1.id})} %}
        <ul>{% for location2 in location1.childs %}
          <li>{{ location2.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location2.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location2.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location2.id})} %}

            <ul>{% for location3 in location2.childs %}
              <li>{{ location3.locationName }}
  {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('admin_location_edit', {'id':location3.id})} %}
  {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('admin_location_delete', {'id':location3.id})} %}
  {% include "ClubLayoutBundle:Default:config_link.html.twig" with {'url':path('admin_location_config', {'id':location3.id})} %}
              </li>

            {% endfor %}</ul>
          </li>
        {% endfor %}</ul>
      </li>
    {% endfor %}</ul>
  </li>
</ul>

{% endblock %}
