{% extends "ClubUserBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('admin_location_new') }}" class="btn-create"><span>Create location</span></a></p>

<p>Here is a list of all locations, they are build in a tree structure to illustrate how they are child and parents of each other.</p>
<ul>
  <li>{{ root }}
    <ul>{% for location1 in root.childs %}
      <li>{{ location1.locationName }}
        <ul>{% for location2 in location1.childs %}
          <li>{{ location2.locationName }}
            <ul>{% for location3 in location2.childs %}
              <li>{{ location3.locationName }}</li>
            {% endfor %}</ul>
          </li>
        {% endfor %}</ul>
      </li>
    {% endfor %}</ul>
  </li>
</ul>

{% endblock %}
