{% extends "ClubUserBundle::base.html.twig" %}

{% block pagenav %}
{% include "ClubUserBundle:AdminUser:publicHeader.html.twig" %}
{% endblock %}

{% block header %}
<h1 class="page-header"><img class="img-polaroid" src="{{ asset('bundles/clublayout/images/icons/32x32/user.png') }}" /> {% trans %}User filter{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <form method="POST" action="{{ path('club_user_adminuserfilter_index') }}" class="form-horizontal">

    {{ form_row(form.name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email_address) }}
    {{ form_row(form.member_number) }}
    {{ form_row(form.min_age) }}
    {{ form_row(form.max_age) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.postal_code) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    {{ form_row(form.location) }}
    {{ form_row(form.has_ticket) }}
    <h4>{% trans %}Search for a subscription in the following period.{% endtrans %}</h4>
    {{ form_row(form.subscription_from) }}
    {{ form_row(form.subscription_to) }}
    {{ form_row(form._token) }}

    <div class="form-actions">
        <button {% if novalidate is defined %}formnovalidate="true"{% endif %} type="submit" class="btn btn-primary">{% if button is defined %}{{ button }}{% else %}{% trans %}Save changes{% endtrans %}{% endif %}</button>
        <a class="btn btn-info" href="{{ path('club_user_adminuserfilter_reset', {'id':filter.id}) }}">{% trans %}Reset{% endtrans %}</a>
    </div>


  </form>
{% endblock %}
