{% extends "::base.html.twig" %}

{% block header %}<h1>Group</h1>{% endblock %}

{% block body %}

<p class="box"><a href="{{ path('admin_group_new') }}" class="btn-create"><span>Create group</span></a></p>

<form method="post" action="{{ path('admin_group_batch') }}">
<table>
  <thead>
    <tr>
      <th>[x]</th>
      <th>Id</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="4" class="arrow-01">
        <select name="" class="input-text">
          <option value="">Delete selected</option>
          <option value="">Remove selected</option>
          <option value="">Rename selected</option>
          <option value="">Copy selected</option>
        </select>&nbsp;<input type="submit" value="OK" />
      </td>
    </tr>
  </tfoot>
  <tbody>
  {% for group in groups %}
    <tr>
      <td><input type="checkbox" /></td>
      <td>{{ group.id }}</td>
      <td>{{ group.groupName }} ( {{ group.users|length }} )</td>
      <td>
        {% include "::edit_link.html.twig" with {'url':path('admin_group_edit', { 'id':group.id })} %}
        {% include "::delete_link.html.twig" with {'url':path('admin_group_delete', { 'id':group.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="4">There are no groups at the time</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

{% endblock %}
