{% extends "ClubShopBundle::base.html.twig" %}

{% block body %}

<h2>{% trans %}Payment{% endtrans %}</h2>

<p>{% trans %}You are about to pay your order.{% endtrans %}</p>

<p>
<ul>
  <li>{% trans with {'%order%':order.orderNumber} %}Order number: %order%{% endtrans %}</li>
  <li>{% trans with {'%price%':order.price|club_price} %}Amount: %price%{% endtrans %}</li>
</ul>

<form method="POST" action="{{ quickpay_url }}">
<input type="hidden" id="protocol" name="protocol" value="{{ form.protocol.vars.value }}" />
<input type="hidden" id="msgtype" name="msgtype" value="{{ form.msgtype.vars.value }}" />
<input type="hidden" id="merchant" name="merchant" value="{{ form.merchant.vars.value }}" />
<input type="hidden" id="language" name="language" value="{{ form.language.vars.value }}" />
<input type="hidden" id="ordernumber" name="ordernumber" value="{{ form.ordernumber.vars.value }}" />
<input type="hidden" id="amount" name="amount" value="{{ form.amount.vars.value }}" />
<input type="hidden" id="currency" name="currency" value="{{ form.currency.vars.value }}" />
<input type="hidden" id="continueurl" name="continueurl" value="{{ form.continueurl.vars.value }}" />
<input type="hidden" id="cancelurl" name="cancelurl" value="{{ form.cancelurl.vars.value }}" />
<input type="hidden" id="callbackurl" name="callbackurl" value="{{ form.callbackurl.vars.value }}" />
<input type="hidden" id="autocapture" name="autocapture" value="{{ form.autocapture.vars.value }}" />
<input type="hidden" id="autofee" name="autofee" value="{{ form.autofee.vars.value }}" />
<input type="hidden" id="cardtypelock" name="cardtypelock" value="{{ form.cardtypelock.vars.value }}" />
<input type="hidden" id="testmode" name="testmode" value="{{ form.testmode.vars.value }}" />
<input type="hidden" id="splitpayment" name="splitpayment" value="{{ form.splitpayment.vars.value }}" />
<input type="hidden" id="md5check" name="md5check" value="{{ form.md5check.vars.value }}" />
<input type="hidden" id="ipaddress" name="ipaddress" value="{{ form.ipaddress.vars.value }}" />

<hr class="noscreen" />
<div class="box-01">
  <p class="nom"><input type="submit" value="{% trans %}Pay with creditcard{% endtrans %}" class="input-submit" /></p>
</div> <!-- /box-01 -->
</form>

{% endblock %}
