{% extends "ClubShopBundle::base.html.twig" %}

{% block pagenav %}
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ path('shop_checkout') }}">{% trans %}View cart{% endtrans %}</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
{% if categories|length > 0 %}
<h3>{% trans %}Categories{% endtrans %}</h3>

{% for cat in categories %}
<!-- Button -->
<div class="btn-box">
<div class="btn-top"></div>
<div class="btn">
  <dl>
    <dt><a href="{{ path('shop_prod_view', {'id':cat.id}) }}">{{ cat.categoryName }}</a> ({{ cat.getProducts|length }})</dt>
    <dd>{{ cat.description|truncate(40) }}</dd>
  </dl>
</div> <!-- /btn -->
<div class="btn-bottom"></div>
</div> <!-- /btn-box -->
{% endfor %}

<div class="fix"></div>
{% endif %}

{% if category %}
  {% include "ClubShopBundle:Shop:product_table.html.twig" with {'products':category.products} %}
{% endif %}

{% endblock %}
