{% extends "ClubMatchBundle::base.html.twig" %}

{% block body %}
<p class="box"><a href="{{ path('club_match_adminrule_new') }}" class="btn-create"><span>{% trans %}Create rule{% endtrans %}</span></a></p>

<table class="style">
  <thead>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Point won{% endtrans %}</th>
      <th>{% trans %}Point lost{% endtrans %}</th>
      <th>{% trans %}Match same player{% endtrans %}</th>
      <th>{% trans %}Created at{% endtrans %}</th>
      <th>{% trans %}Action{% endtrans %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="bg">
      <td colspan="6">&#160;</td>
    </tr>
  </tfoot>
  <tbody>
  {% for rule in rules %}
    <tr>
      <td>{{ rule.name }}</td>
      <td>{{ rule.pointWon }}</td>
      <td>{{ rule.pointLost }}</td>
      <td>{{ rule.matchSamePlayer }}</td>
      <td>{{ rule.createdAt|club_datetime }}</td>
      <td>
        {% include "ClubLayoutBundle:Default:edit_link.html.twig" with {'url':path('club_match_adminrule_edit', { 'id':rule.id })} %}
        {% include "ClubLayoutBundle:Default:delete_link.html.twig" with {'url':path('club_match_adminrule_delete', { 'id':rule.id })} %}
      </td>
    </tr>
  {% else %}
  <tr>
    <td colspan="6">{% trans %}There are no rules.{% endtrans %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
